<!-- main container .wide-content is used for this layout without sidebar :)  -->
  <div class="content">
    <div class="settings-wrapper" id="pad-wrapper">
        <div class="row">           
          <%= form_for(@news, :url => @render_address, :html => { :class=> 'form-horizontal', :id=>"myform",multipart: true  }) do |f| %>
            <%= csrf_meta_tags %> 
          
            
            <!-- avatar column -->
            <div class="col-md-3 col-md-offset-1 avatar-box">
              <div class="personal-image">                
                <%if params[:action] == "edit"%>
                  <%= image_tag @news.news_image(:thumb), :class=>"avatar"%>
                <%end%>
                <p>Upload a photo...</p>         
                <%= f.file_field :news_image %>

              </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-7 personal-info">
                <div class="form-group"> 
                  <% if @news.errors.any? %>
                    <% @news.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                  <%end%>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Title:</label>
                  <div class="col-lg-8">                   
                    <%= f.text_field :title , :class=> 'form-control', :placeholder=> 'Title', tabindex: '1',:required => "required"%>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Content:</label>
                  <div class="col-lg-8">
                     <%= f.text_area :content , :class=> 'form-control', :placeholder=> 'Content', tabindex: '1',:required => "required", :cols=> 10%>               
                  </div>
                </div>  
                <div class="form-group">
                  <label class="col-lg-2 control-label">Synopsis:</label>
                  <div class="col-lg-8">
                     <%= f.text_area :synopsis , :class=> 'form-control', :placeholder=> 'Synopsis', tabindex: '1',:required => "required", :cols=> 10%>               
                  </div>
                </div>    
                <div class="form-group">
                  <label class="col-lg-2 control-label">Expired Date:</label>
                  <div class="col-lg-8">
                     <%= f.date_select :expired_date , :class=> 'form-control',  tabindex: '1',:required => "required"%>    
                            
                  </div>
                </div>      
                <div class="actions">
                  <%= f.submit :save_changes , :value=> "Save Changes", :class => 'btn btn-primary'%>
                  <span>OR</span>
                  <%= link_to "Cancel", configurations_news_index_path%>              
                </div>          
            </div>        
        <%end%>
      </div>
    </div>
  </div>
<!-- end main container -->