<% content_for :title do %>
  News - Configurations
<% end %>

<% content_for :specific_style do %>
  <link rel="stylesheet" data-turbolinks-track href="/assets/compiled/tables.css" type="text/css" media="screen" />
<% end %>


<div class="content">
  <!-- settings changer -->
  <div id="pad-wrapper">
    <!-- products table-->
    <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
    <div class="table-wrapper products-table">
      <div class="row">
        <div class="col-md-12">
          <h4 class="pull-left" >News</h4>
          <div class="pull-right">
            <a class="btn-flat success new-product" href="/configurations/news/new">+ News</a>
          </div>
          <br class="clear"></br>
        </div>
      </div>

      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-md-2">
                Title
              </th>             
              <th class="col-md-2">
                <span class="line"></span>Image
              </th>
              <th class="col-md-4">
                <span class="line"></span>Content
              </th>
              <th class="col-md-4">
                <span class="line"></span>Expired Date
              </th>
              <th class="col-md-2">
                <span class="line"></span>Action
              </th>
            </tr>
          </thead>
          <tbody>            
            <%@news.each do |news|%>
              <!-- row -->
              <tr id="news_<%= news.id %>">
                <td>
                  <%=news.title rescue  "-"%>
                </td>
                <td><%= image_tag news.news_image(:thumb)%></td>   
                <td class="description">
                   <%= truncate(news.content, :length => 100, :separator => '... ') %>
                </td>
                 <td class="expired_date">
                   <%= news.expired_date.strftime("%d/%m/%y") rescue "-" %>
                </td>
                <td>
                  <ul class="actions">
                    <li><a href="/configurations/news/<%= news.id%>/edit">Ubah</a></li>
                    <li class="last"><a href="javascript:void(0)" onclick='deleteRow("<%= news.id%>","<%=news.title%>");'>Hapus</a></li>
                  </ul>
                </td>                            
              </tr>
              <!-- row -->
            <%end unless @news.blank?%>            
          </tbody>
          <tfoot>
            <tr>
              <td>
                 <%if @news.total_pages > 1%>       
					         <div class="digg_pagination pagination pull-right">          
					          <%= will_paginate @news, :container => false, renderer: BootstrapPagination::Rails %>
					        </div>      
					      <%end%>  
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- end products table -->
  </div>
</div>
<script type="text/javascript">
  
    function deleteRow(id,title){
      $.ajax({
        url: '/configurations/news/'+id,
        type: 'DELETE',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        dataType: 'json',
        data: {id: id}
      })
      .done(function(data) {
        console.log(id)
        if (data.filters = true) {
          console.log("News "+title+" berhasil dihapus")
          $('.alert-success').children('span').text("News "+title+" berhasil dihapus");
          $('.alert-success').slideDown(500).delay(3000).slideUp(500);
          $("#news_"+id).remove();
        }else{
          console.log("News "+title+" gagal dihapus");
          $('.alert-danger').children('span').text("News "+title+" gagal dihapus");
          $('.alert-danger').slideDown(500).delay(3000).slideUp(500);
        }
      })
      .fail(function(data) {
        console.log("News "+title+" gagal dihapus");
        $('.alert-danger').children('span').text("News "+title+" gagal dihapus");
        $('.alert-danger').slideDown(500).delay(3000).slideUp(500);
      })
      .always(function(data) {
        // console.log("complete");
      });
      
    }  
</script>