<% content_for :title do %>
  Dashboard
<% end %>

<% content_for :specific_style do %>
  <link rel="stylesheet" data-turbolinks-track href="/assets/compiled/index.css" type="text/css" media="screen" />
<% end %>
<!-- main container -->
<div class="content">
  <!-- upper main stats -->
  <div id="main-stats">
    <%unless Announcement.try(:last).try(:announcement)==""%>
      <div class="row stats-row" style="border-bottom: 1px solid #EFEEF3;">
        <div class="col-md-12 col-sm-12 announcement" style="text-align:left;margin-left:40px;">
        
          <div class="data" style="text-transform: none;">
            <span class="number"><%= Announcement.try(:last).try(:announcement)%></span>
          </div>
        
        </div>
      </div>
    <%end%>
    <div class="row stats-row">
      <div class="col-md-12 col-sm-12 stat" style="text-align:left;margin-left:40px;">
        <div class="data" style="text-transform: none;">
          <span class="number"><%= @quote.present? ?  @quote.content : '' %></span>
        </div>
        <span class="date" style="left:0px;"><%= @quote.present? ?  @quote.writer : '' %></span>
      </div>
      
    </div>
  </div>
  <!-- end upper main stats -->

  <div id="pad-wrapper">
    <div class="row">
      <% if @news.present? %>
        <% @news.each do |news| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= image_tag news.news_image(:medium)%>
              <div class="caption">
                <h3><%= news.title %></h3>
                <p style="float:right;"><a href="javascript:void(0);" class="btn btn-primary" onClick="$(this).parent().siblings('.news-full').slideToggle();" role="button">Read more</a></p>
                <p class="news-date">
                  <%= (Time.now - news.created_at) < 1.day ? time_ago_in_words(news.created_at) : news.created_at.strftime("%d %b %Y - %H:%M:%S") %>
                </p>
                <p><%= news.synopsis %></p>
                <div class="news-full">
                  <p class="detail">Detail berita</p>
                  <%= news.content %>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
    <% if @news.present? %>
      <div class="row">
        <div class="col-md-12">
          <div class="digg_pagination pagination pull-right">          
            <%= will_paginate @news, :container => false, renderer: BootstrapPagination::Rails %>
          </div>      
        </div>
      </div> 
    <%end%>   
  
  </div>
</div>

<script type="text/javascript">
  $(function () {

    function showTooltip(x, y, contents) {
      $('<div id="tooltip">' + contents + '</div>').css( {
        position: 'absolute',
        display: 'none',
        top: y - 30,
        left: x - 50,
        color: "#fff",
        padding: '2px 5px',
        'border-radius': '6px',
        'background-color': '#000',
        opacity: 0.80
      }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#statsChart").bind("plothover", function (event, pos, item) {
      if (item) {
        if (previousPoint != item.dataIndex) {
          previousPoint = item.dataIndex;

          $("#tooltip").remove();
          var x = item.datapoint[0].toFixed(0),
            y = item.datapoint[1].toFixed(0);

          var month = item.series.xaxis.ticks[item.dataIndex].label;

          showTooltip(item.pageX, item.pageY,
                item.series.label + " of " + month + ": " + y);
        }
      }
      else {
        $("#tooltip").remove();
        previousPoint = null;
      }
    });
  });
</script>
