<% content_for :title do %>
  Status Kapasitas - Configurations
<% end %>

<% content_for :specific_style do %>
  <link rel="stylesheet" data-turbolinks-track href="/assets/compiled/tables.css" type="text/css" media="screen" />
<% end %>


<div class="content">
  <!-- settings changer -->
  <div id="pad-wrapper">
    <!-- products table-->
    <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
    <div class="table-wrapper products-table">
      <div class="row">
        <div class="col-md-12">
          <h4 class="pull-left" >Status Kapasitas</h4>
          <div class="pull-right">
            <a class="btn-flat success new-product" href="<%=new_configurations_report_capacity_path%>">+ Status Kapasitas</a>
          </div>
          <br class="clear"></br>
        </div>
      </div>

      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>         
              <th class="col-md-4">
                <span class="line"></span>Name
              </th>               
              <th class="col-md-4">
                <span class="line"></span>Action
              </th>
            </tr>
          </thead>
          <tbody>            
            <%@capacities.each do |capacity|%>
              <!-- row -->
              <tr id="ptype_<%= capacity.id %>">                
                <td class="product_type_name">
                   <%= capacity.name rescue "-" %>
                </td>
               
                <td>
                  <ul class="actions actions_<%=capacity.id  %> link_act">
                    <%if capacity.deleted_at.nil?%>
                      <li><a href="<%=edit_configurations_report_capacity_path(capacity)%>" class="action_<%=capacity.id %>">Ubah</a></li>
                      <li class="last"><a href="javascript:void(0)" class="action_<%=capacity.id %>" onclick='deleteRow("<%= capacity.id%>","<%=capacity.name%>");'>Hapus</a></li>
                    <%else%>
                      This status has been deleted (<a href="javascript:void(0)" onclick='recoverRow("<%= capacity.id%>","<%=capacity.name%>");'> &nbsp;Recover &nbsp; </a>)
                    <%end%>
                  </ul>
                </td>                            
              </tr>
              <!-- row -->
            <%end unless @capacities.blank?%>            
          </tbody>
          <tfoot>
            <tr>
              <td>
                 <%if @capacities.total_pages > 1%>       
					         <div class="digg_pagination pagination pull-right">          
					          <%= will_paginate @capacities, :container => false, renderer: BootstrapPagination::Rails %>
					        </div>      
					      <%end%>  
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- end products table -->
  </div>
</div>
<script type="text/javascript">  
  function deleteRow(id,p_name){
    $.ajax({
      url: '/configurations/report_capacities/'+id,
      type: 'DELETE',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      dataType: 'json',
      data: {id: id}
    })
    .done(function(data) {
      console.log(id)
      if (data.filters = true) {
        console.log("Status "+p_name+" berhasil dihapus")
        $('.alert-success').children('span').text("Status "+p_name+" berhasil dihapus");
        $('.alert-success').slideDown(500).delay(3000).slideUp(500);
        $(".action"+id).remove();
        $('.actions_'+id).html("This status has been deleted"+"<a href='javascript:void(0)' onclick=\"recoverRow('"+id+"', '"+p_name+"'"+")\"> &nbsp;( Recover ) </a>")
      }else{
        console.log("Status "+p_name+" gagal dihapus");
        $('.alert-danger').children('span').text("Status "+p_name+" gagal dihapus");
        $('.alert-danger').slideDown(500).delay(3000).slideUp(500);
      }
    })
    .fail(function(data) {
      console.log("Status "+p_name+" gagal dihapus");
      $('.alert-danger').children('span').text("Status "+p_name+" gagal dihapus");
      $('.alert-danger').slideDown(500).delay(3000).slideUp(500);
    })
    .always(function(data) {
      // console.log("complete");
    });    
  }  

  function recoverRow(id,p_name){
    $.ajax({
      url: '/configurations/report_capacities/'+id+'/recover',
      type: 'GET',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      dataType: 'json',
      data: {id: id}
    })
    .done(function(data) {
      if (data.filters = true) {
        console.log("Tipe "+p_name+" berhasil di recover")
        $('.alert-success').children('span').text("Tipe "+p_name+" berhasil di recover");
        $('.alert-success').slideDown(500).delay(3000).slideUp(500);

        var str = "<li><a href="+"/configurations/report_capacities/"+id+" class='action_"+id+"'>Ubah</a></li>" 
         // $('.actions_'+id).html("This type has been deleted"+"<a href='javascript:void(0)' onclick=\"recoverRow('"+id+"', '"+p_name+"'"+")\"> &nbsp;( Recover ) </a>")
        var str2 = "<li class='last'><a href='javascript:void(0)' onclick=\"deleteRow('"+id+"','"+p_name+"'"+")\" >Hapus</a></li>"                      
        $('.actions_'+id).html(str+str2)
      }else{
        console.log("Tipe "+p_name+" gagal di recover");
        $('.alert-danger').children('span').text("Tipe "+p_name+" gagal di recover");
        $('.alert-danger').slideDown(500).delay(3000).slideUp(500);
      }
    })
    .fail(function(data) {
      console.log("Tipe "+p_name+" gagal di recover");
      $('.alert-danger').children('span').text("Tipe "+p_name+" gagal di recover");
      $('.alert-danger').slideDown(500).delay(3000).slideUp(500);
    })
    .always(function(data) {
      // console.log("complete");
    });    
  }  

</script>