<!-- navbar -->
<header class="navbar navbar-inverse" role="banner">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <%= image_tag "/assets/logo.png", :height => "26px;" %>
    </a>
  </div>
  <ul class="nav navbar-nav pull-right hidden-xs">
    <li class="hidden-xs hidden-sm">
      <h1 style="font-size: 1.5em; color:#CCCCCC; margin: 10px 15px;"><%=current_user.name %></h1>
    </li>
    <li class="settings hidden-xs hidden-sm">
      <a href="/helps" role="button">
        <i class="icon-question-sign"></i>
      </a>
    </li>
    <% if(current_user.is_position(ADMINISTRATOR)) %>
      <li class="settings hidden-xs hidden-sm">
        <a href="/configurations" role="button">
          <i class="icon-cog"></i>
        </a>
      </li>
    <% end %>
    <li class="settings hidden-xs hidden-sm">
      <a href="<%=destroy_user_session_path%>" role="button">
        <i class="icon-share-alt"></i>
      </a>
    </li>
  </ul>
</header>
<!-- end navbar -->