<!-- sidebar -->
<div id="sidebar-nav">
  <ul id="dashboard-menu">
    <li id="sidebar-menu-dashboard" class="sidebar-menu">
      <a href="/dashboard">
        <i class="icon-home"></i>
        <span>Home</span>
      </a>
    </li>
    <li id="sidebar-menu-reports" class="dropdown sidebar-menu">
        <a class="dropdown-toggle" href="/reports/#">
          <i class="icon-edit"></i>
          <span>Laporan</span>
          <i class="icon-chevron-down"></i>
        </a>
        <ul style="display: hide;" class="submenu">
          <li id="list-reports" class="sidebar-menu-child"><a href="/reports">List Laporan</a></li>
          <% if current_user.is_position(SALES) %>
            <li id="new-reports" class="sidebar-menu-child"><a href="/reports/new">Tambah Laporan</a></li>
          <% end%>
        </ul>
    </li>
    <% if(current_user.is_position(ADMINISTRATOR)) %>
      <li id="sidebar-menu-absens" class="sidebar-menu">
        <a href="<%=attendances_path%>">
          <i class="icon-book"></i>
          <span>Absensi</span>
        </a>
      </li>
      <li id="sidebar-menu-insentives" class="sidebar-menu">
        <a href="<%=insentives_path%>">
          <i class="icon-money"></i>
          <span>Insentive</span>
        </a>
      </li>
      <li id="sidebar-menu-customers" class="sidebar-menu">
        <a href="<%=customers_path%>">
          <i class="icon-group"></i>
          <span>Konsumen</span>
        </a>
      </li>
    <% end %>
    <% if(current_user.is_position(SUPERVISOR)) %>      
      <li id="sidebar-menu-insentives" class="sidebar-menu">
        <a href="<%=insentives_path%>">
          <i class="icon-money"></i>
          <span>Insentive</span>
        </a>
      </li>     
    <% end %>
  </ul>
</div>
<div id="hidden-pointer" style="display:none;">
  <div class="pointer">
    <div class="arrow"></div>
    <div class="arrow_border"></div>
  </div>
</div>
<!-- end sidebar -->