<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-4 sortable">
        <span class="line"></span>Name
        
      </th>
      <th class="col-md-3 sortable">
        <span class="line"></span>Username
      </th>
      <th class="col-md-3 sortable">
        <span class="line"></span>Signed up
      </th>
      <th class="col-md-2 sortable">
        <span class="line"></span>Position
      </th>
      <th class="col-md-2 sortable">
        <span class="line"></span>Responsible
      </th>
      <th class="col-md-3 sortable">
        <span class="line"></span>Email
      </th>
      <th class="col-md-2 sortable">
        <span class="line"></span>Action
      </th>
    </tr>
  </thead>
  <div id="">
    <tbody>
      <%users.each do |user|%>
        <tr>
          <td><%= image_tag user.try(:profile_picture).url(:thumb), :class=>"profile-picture", :style => "width:32px;margin-right:10px;"%>
            <%if user.try(:deleted_at).nil?%>
              <%= link_to user.try(:name) , edit_configurations_user_path(user)%>
            <%else%>
              <%= user.try(:name)%>
            <%end%>
          </td>
          <td><%= user.try(:username)%></td>
          <td><%= user.try(:created_at).strftime("%d/%m/%Y")%></td>
          <td><%= user.try(:get_position) %></td>
          <td><%= user.try(:parent).name rescue nil%></td>
          <td><%= user.try(:email) rescue "-"%></td>
          <td>
            <%if user.try(:deleted_at).nil?%>
              <%= button_to "Hapus", configurations_user_path(user), :data => { :confirm => "Apakah Anda Yakin?"} , :method => :delete, :class=>"btn btn-primary" %>
            <%else%>
              Deleted
            <%end%>
          </td>
        <tr></tr>
      <%end unless @users.blank?%>
    </tbody>
  </div>  
</table>