<% content_for :title do %>
  Edit Karyawan - Configurations
<% end %>
<!-- main container .wide-content is used for this layout without sidebar :)  -->
  <div class="content">
    <div class="settings-wrapper" id="pad-wrapper">
      <div class="row">           
        <%= form_for(@user, :url => configurations_user_path, :method=> :put, :html => { :class=> 'form-horizontal', :id=>"myform",multipart: true  }) do |f| %>
        <%= csrf_meta_tags %>  
        <!-- avatar column -->
        <div class="col-md-3 col-md-offset-1 avatar-box" style="width:354px;">
          <div class="personal-image">
            <%= image_tag @user.profile_picture.url(:medium), :class=>"profile-picture"%>
            <p>Upload a different photo...</p>         
            <%= f.file_field :profile_picture  %>
          </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-7 personal-info">
          <h5 class="personal-title">Personal info</h5> 
            <% if @user.errors.any? %>
              <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            <%end%>
            <div class="form-group">
              <label class="col-lg-2 control-label">Name:</label>
              <div class="col-lg-8">                   
                <%= f.text_field :name , :class=> 'form-control', :placeholder=> 'Nama Karyawan', tabindex: '1',:required => "required"%>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Username:</label>
              <div class="col-lg-8">                   
                <%= f.text_field :username , :class=> 'form-control', :placeholder=> 'Username', tabindex: '1',:required => "required"%>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Email:</label>
              <div class="col-lg-8">
                 <%= f.text_field :email , :class=> 'form-control', :placeholder=> 'Email', tabindex: '1',:required => "required"%>               
              </div>
            </div>           
           
            <div class="form-group">
              <label class="col-lg-2 control-label">Password:</label>
              <div class="col-lg-8">  
                
                 <%= f.password_field :password, :autocomplete => "off", tabindex: '1',:class=> 'pwd', :style => "width:80%" ,:value => @user.password%>
                 <br>   
                 <i>(just leave this blank if you don't want to change your current password)</i></p>                    
              </div>
            </div>
          
            <div class="form-group">
              <label class="col-lg-2 control-label">Gender:</label>
              <div class="col-lg-8">
                 <%= f.select :sex, options_for_select(@gender, (@user.sex == true ? 1 : 0 ) ),:required => "required"%>                
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-lg-2 control-label">Position:</label>
              <div class="col-lg-8">
                 <%= f.select :position, options_for_select(@position, @user.position), :prompt => "Jabatan",:required => "required"%>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Address:</label>
              <div class="col-lg-8">
                 <%= f.text_field :address , :class=> 'form-control', :placeholder=> 'Address', tabindex: '1',:required => "required"%>          
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">City:</label>
              <div class="col-lg-8">
                <%= f.text_field :city , :class=> 'form-control', :placeholder=> 'City', tabindex: '1',:required => "required"%>                
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Phone Number:</label>
              <div class="col-lg-8">
                 <%= f.text_field :phone_number , :class=> 'form-control', :placeholder=> 'Phone Number', tabindex: '1',:required => "required"%>                 
              </div>
            </div>
            <div class="actions">
              <%= f.submit :save_changes , :value=> "Save Changes", :class => 'btn btn-primary'%>
              <span>OR</span>
              <%= link_to "Cancel", configurations_users_path%>
              
            </div>
          
        </div>
      </div>  

      <%end%>
    </div>
  </div>
  <!-- end main container -->
 