<!-- main container -->
  <div class="content">
    
    <div id="pad-wrapper" class="users-list">
      <div class="row header">
        <h3>Users</h3>
        <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
          <%= text_field_tag :keyword,"", :class=> "col-md-5 search", :placeholder=>"Type a user's name..." %>
       
          
          <!-- custom popup filter -->
          <!-- styles are located in css/elements.css -->
          <!-- script that enables this dropdown is located in js/theme.js -->
          <div class="ui-dropdown">
            <div class="head" data-toggle="tooltip" title="Click me!" style="display:none">
              Filter users
              <i class="arrow-down"></i>
            </div>  
            <div class="dialog">
              <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
              </div>
              <div class="body">
                <p class="title">
                  Show users where:
                </p>
                <div class="form">
                  <select>
                    <option>Name</option>
                    <option>Email</option>
                    <option>Number of orders</option>
                    <option>Signed up</option>
                    <option>Last seen</option>
                  </select>
                  <select>
                    <option>is equal to</option>
                    <option>is not equal to</option>
                    <option>is greater than</option>
                    <option>starts with</option>
                    <option>contains</option>
                  </select>
                  <input type="text" class="form-control" />
                  <a class="btn-flat small">Add filter</a>
                </div>
              </div>
            </div>
          </div>

          <a href="/configurations/users/new" class="btn-flat success pull-right">
            <span>&#43;</span>
            Tambah Karyawan
          </a>
        </div>
      </div>

      <!-- Users table -->
      <div class="row">
        <div class="col-md-12">
          <div id="list_users">
            <%= render :partial => "list", :locals => { :users => @users }%>  
          </div>  
        </div>                
      </div>
      <%if @users.total_pages > 1%>       
         <div class="digg_pagination pagination pull-right">          
          <%= will_paginate @users, :container => false, renderer: BootstrapPagination::Rails %>
        </div>      
      <%end%>  
      <!-- end users table -->
    </div>
  </div>
  <!-- end main container -->

<script type="text/javascript">
$('.search').keypress(function(e){
  if (e.keyCode == 13) {
    $.ajax({
      url: '/configurations/users/search?keyword='+$( '#keyword').val(),
      type: 'GET',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}
    })
    .done(function(data) {
      
    })
    .fail(function(data) {
      
    })
  }
})
</script>  