<!-- main container .wide-content is used for this layout without sidebar :)  -->
  <div class="content">
    <div class="settings-wrapper" id="pad-wrapper">
      <div class="row">           
        <%= form_for(@user, :url => configurations_users_path, :html => { :class=> 'form-horizontal', :id=>"myform",multipart: true  }) do |f| %>
        <%= csrf_meta_tags %>  
        <!-- avatar column -->
        <div class="col-md-3 col-md-offset-1 avatar-box">
          <div class="personal-image">            
            <%= image_tag @user.profile_picture.url(:medium), :class=>"profile-picture"%>
          </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-7 personal-info">
          <h5 class="personal-title">Personal info</h5>          
            <div class="form-group">
              <label class="col-lg-2 control-label">Username:</label>
              <div class="col-lg-8">          
                <%= @user.username%>       
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Email:</label>
              <div class="col-lg-8">
                 <%= f.text_field :email , :class=> 'form-control', :placeholder=> 'Email', tabindex: '1',:required => "required"%>               
              </div>
            </div>           
      
          
            <div class="form-group">
              <label class="col-lg-2 control-label">Gender:</label>
              <div class="col-lg-8">
                <%=@user.sex? ? "Pria" : "Wanita"%>
                 <%#= f.select :sex, options_for_select(@gender, 1), :prompt => "Jenis Kelamin",:required => "required"%>                
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Address:</label>
              <div class="col-lg-8">
                 <%= f.text_field :address , :class=> 'form-control', :placeholder=> 'Address', tabindex: '1',:required => "required"%>          
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">City:</label>
              <div class="col-lg-8">
                <%= f.text_field :city , :class=> 'form-control', :placeholder=> 'City', tabindex: '1',:required => "required"%>                
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Phone Number:</label>
              <div class="col-lg-8">
                 <%= f.text_field :phone_number , :class=> 'form-control', :placeholder=> 'Phone Number', tabindex: '1',:required => "required"%>                 
              </div>
            </div>
            <div class="actions">
              <%= f.submit :save_changes , :value=> "Save Changes", :class => 'btn btn-primary'%>
              <span>OR</span>
              <%= link_to "Cancel", configurations_users_path%>
              
            </div>
          
        </div>
      </div>  

      <%end%>
    </div>
  </div>
  <!-- end main container -->