<!-- navbar -->
<header class="navbar navbar-inverse" role="banner">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path%>"><img src="/assets/logo.png" height="26px"></a>
  </div>
  <nav class="collapse navbar-collapse" role="navigation">
<!--     <ul class="nav navbar-nav">
      <li><a href="<%=configurations_quotes_path%>">Quote</a></li>
      <li><a href="<%=configurations_news_index_path%>">Berita</a></li>
      <li><a href="/configurations/users">Karyawan</a></li>
      <li><a href="<%=configurations_product_types_path%>">Tipe Kendaraan</a></li>
      <li><a href="<%=configurations_product_categories_path%>">Jenis Kendaraan</a></li>
      <li><a href="<%= configurations_report_prospects_path %>">Status Prospek</a></li>
      <li><a href="<%=configurations_report_capacities_path %>">Status Kapasitas</a></li>
      <li><a href="<%=configurations_payment_types_path%>">Cara Pembayaran</a></li>
      <li><a href="<%=configurations_office_hours_path%>">Jam Kerja</a></li>
    </ul> -->
  <ul class="nav navbar-nav pull-right hidden-xs">
    <li class="hidden-xs hidden-sm">
      <h1 style="font-size: 1.5em; color:#CCCCCC; margin: 10px 15px;">Setting</h1>
    </li>
    <li class="settings hidden-xs hidden-sm">
      <a href="/" role="button">
        <i class="icon-home"></i>
      </a>
    </li>
    <li class="settings hidden-xs hidden-sm">
      <a href="<%=destroy_user_session_path%>" role="button">
        <i class="icon-share-alt"></i>
      </a>
    </li>
  </ul>
  </nav>        
</header>
<!-- end navbar -->  