<!-- sidebar -->
<div id="sidebar-nav">
  <ul id="dashboard-menu">
    <li id="sidebar-menu-announcement" class="sidebar-menu">
      <a href="<%=configurations_announcements_path%>">
        <i class="icon-bullhorn"></i>
        <span>Announcement</span>
      </a>
    </li>
    <li id="sidebar-menu-quotes" class="sidebar-menu">
      <a href="<%=configurations_quotes_path%>">
        <i class="icon-road"></i>
        <span>Quote</span>
      </a>
    </li>
    <li id="sidebar-menu-news" class="sidebar-menu">
      <a href="<%=configurations_news_index_path%>">
        <i class="icon-bullhorn"></i>
        <span>Berita</span>
      </a>
    </li>
    <li id="sidebar-menu-users" class="sidebar-menu">
      <a href="/configurations/users">
        <i class="icon-group"></i>
        <span>Karyawan</span>
      </a>
    </li>
    <li id="sidebar-menu-product" class="dropdown sidebar-menu">
      <a class="dropdown-toggle" href="/reports/#">
        <i class="icon-truck"></i>
        <span style="font-size:x-small;">Kendaraan</span>
        <i class="icon-chevron-down"></i>
      </a>
      <ul style="display: hide;" class="submenu">
        <li id="product_types" class="sidebar-menu-child" ><a href="<%=configurations_product_types_path %>">Tipe Kendaraan</a></li>
        <li id="product_categories" class="sidebar-menu-child" ><a href="<%=configurations_product_categories_path %>">Jenis Kendaraan</a></li>
      </ul>
    </li>
    <li id="sidebar-menu-reports" class="dropdown sidebar-menu">
      <a class="dropdown-toggle" href="/reports/#">
        <i class="icon-edit"></i>
        <span>Laporan</span>
        <i class="icon-chevron-down"></i>
      </a>
      <ul style="display: hide;" class="submenu">
        <li id="report_prospects" class="sidebar-menu-child" ><a href="<%= configurations_report_prospects_path %>">Status Prospek</a></li>
        <li id="report_capacities" class="sidebar-menu-child" ><a href="<%=configurations_report_capacities_path %>">Status Kapasitas</a></li>
        <li id="payment_types" class="sidebar-menu-child" ><a href="<%=configurations_payment_types_path%>">Cara Pembayaran</a></li>
        <li id="office_hours" class="sidebar-menu-child" ><a href="<%=configurations_office_hours_path%>">Jam Kerja</a></li>
      </ul>
    </li>
  </ul>
</div>
<div id="hidden-pointer" style="display:none;">
  <div class="pointer">
    <div class="arrow"></div>
    <div class="arrow_border"></div>
  </div>
</div>
<!-- end sidebar -->