<div class="row" style="overflow:scroll;">
  <div style="width:4000px;">
    <table class="report-table">
      <thead>
        <tr>
          <th>Dibuat</th>
          <th>Diperbaharui</th>
          <th>Diperbaharui oleh</th>

          <th>Nama Perusahaan</th>
          <th>Nama Konsumen</th>
          <th>Alamat</th>
          <th>Jenis Kelamin</th>
          <th>Tanggal Lahir</th>
          <th>No. Telp 1</th>
          <th>No. Telp 2</th>
          <th>No. Telp 3</th>
          <th>Kelurahan</th>
          <th>Kecamatan</th>
          <th>Wilayah</th>
          <th>Kota</th>
          <th>Agama</th>

          <th>No STNK</th>
          <th>Nama STNK</th>
          <th>Warna Plat</th>
          <th>Warna</th>
          <th>Jenis</th>
          <th>Tipe</th>
          <th>Tahun</th>
          <th>Kapasitas</th>
          <th>No Mesin</th>
          <th>No Rangka</th>

          <th>Status Kapasitas</th>
          <th>Status Prospek</th>
          <th>Uang Tanda Jadi</th>
          <th>Harga Jual</th>
          <th>Bank</th>
          <th>Cara Pembayaran</th>
          <th>Sektor Bisnis</th>
          <th style="max-width:100px;">Keterangan</th>

        </tr>
      </thead>
      <tbody>
        <!-- row -->
        <% if @histories.present? %>
          <% @histories.each do |history| %>
            <% report = JSON.parse(history.changes_report) rescue nil %>
            <% if report.present? %>
              <% customer = report["customer"] %>
              <% product = report["product"] %>
              <%if report["report"]["color"].present? %>
                <tr class="colorize-row" style="background-color:<%=report["report"]["color"]%>;">
              <% else %>
                <tr>
              <% end %>

                <% if current_user.is_position(SALES) %>
                  <td><%=link_to(((report["report"]["created_at"].to_datetime).strftime("%d %b %Y %H:%M:%S") rescue nil),edit_report_path(report["report"]["id"])) rescue nil %></td>
                <% else %>
                  <td><%=link_to(((report["report"]["created_at"].to_datetime).strftime("%d %b %Y %H:%M:%S") rescue nil),report_path(report["report"]["id"])) rescue nil %></td>
                <% end %>
                <td><%=report["report"]["created_at"] != report["report"]["updated_at"] ? (report["report"]["updated_at"].to_datetime).strftime("%d %b %Y %H:%M:%S") : "-" %></td>
                <td><%=history.user.name rescue "-" %></td>

                <td><%= customer["company_name"] rescue "-" %></td>
                <td><%= customer["name"] rescue "-" %></td>
                <td><%= customer["address"] rescue "-" %></td>
                <td><%= (customer["sex"] ? 'Pria' : 'Wanita') rescue "-" %></td>
                <td><%= customer["date_of_birth"] %></td>
                <td><%= customer["phone_number"] rescue nil %></td>
                <td><%= customer["handphone_number"] rescue nil %></td>
                <td><%= customer["other_phone_number"] rescue nil %></td>
                <td><%= customer["sub_district"] rescue "-" %></td>
                <td><%= customer["village"] rescue "-" %></td>
                <td><%= customer["district"] rescue "-" %></td>
                <td><%= customer["city"] rescue "-" %></td>
                <td><%= customer["string_religion"] %></td>

                <td><%= product["license_number"] rescue "-" %></td>
                <td><%= product["license_name"] rescue "-" %></td>
                <td><%= product["string_license_color"] rescue "-" %></td>
                <td><%= product["color"] rescue "-" %></td>
                <td><%= ProductCategory.find(product["product_category_id"]).name rescue "-" %></td>
                <td><%= ProductType.find(product["product_type_id"]).name rescue "-" %></td>
                <td><%= product["manufactured_year"] rescue "-" %></td>
                <td><%= product["engine_capacity"] rescue "-" %></td>
                <td><%= product["engine_number"] rescue "-" %></td>
                <td><%= product["chassis_number"] rescue "-" %></td>
                
                <td><%=ReportCapacity.find(report["report"]["report_capacity_id"]).name rescue nil %></td>
                <td><%=ReportProspect.find(report["report"]["report_prospect_id"]).name rescue nil %></td>
                <td><%=report["report"]["advance"]%></td>
                <td><%=report["report"]["selling_price"]%></td>
                <td><%=Bank.find(report["report"]["bank_id"]).full_name rescue "" %></td>
                <td><%=PaymentType.find(report["report"]["payment_type_id"]).name rescue "" %></td>
                <td><%=report["report"]["business_sector"] rescue "-" %></td>
                <td><a href="javascript:void(0)" title="<%=report['notes']%>" ><%=truncate(report["notes"], length: 160, omission: '...')%></a></td>
              </tr>
            <% end %>
          <% end %>
        <% else %>
          <tr>
            <td colspan="32">
              No Data Found
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>  
  </div>
</div>
<div class="digg_pagination pagination pull-right">          
  <%= will_paginate @histories, :container => false, renderer: BootstrapPagination::Rails %>
</div>