<% content_for :title do %>
  History 
<% end %>

<% content_for :specific_style do %>
  <link rel="stylesheet" data-turbolinks-track href="/assets/compiled/index.css" type="text/css" media="screen" />
  <link href="/assets/lib/morris.css" data-turbolinks-track type="text/css" rel="stylesheet" />
<% end %>

<!-- main container -->
<div class="content">

  <div id="pad-wrapper" style="margin-top:0px;"> 

    <% if @histories.present? %>
      <!-- morris bar & donut charts -->

      <div class="table-products " style="margin-top:30px;">
        <div class="row head" style="margin-bottom:10px;">
          <!-- <div class="col-md-1">
            <%=link_to "Back", report_path(@parent_report.id), {class: "btn-flat success"}%>
          </div> -->
          <div class="col-md-11">
            <h4>History Laporan <%=@parent_report.user.name %> tanggal <%= @parent_report.created_at.strftime("%d %B %Y") %></h4>
          </div>
        </div>

        <%= render :partial=> 'table'%>
      </div>
    <% else %>
      <h5>No Data</h5>
    <% end %>
  </div>
</div>