<%=form_tag("/customers", class: "filter-form", method: "GET") do -%>
  <div class="row">
    <div class="col-lg-4">
      <label style="margin-top:10px;">
        Filter 
      </label>
      <div class="slider-frame primary">
        <% if params[:filter].present? %>
          <span data-on-text="ON" data-off-text="OFF" class="slider-button slider-button-filter on">ON</span>
        <% else %>
          <span data-on-text="ON" data-off-text="OFF" class="slider-button slider-button-filter off">OFF</span>
        <% end %>
      </div>       
      <div class="slider-frame primary" style="display:none">       
      </div>     
    </div>
  </div>

  <div class="filter-section table-products section" style="display:none; margin-bottom:20px;padding-bottom:20px;margin-top:0px;border-bottom:1px solid #dedede; border-top:1px solid #dedede;padding-top:10px;">
    <br/>
    <div class="row">
      <div class="col-lg-3">
        <label>Select Option</label>
        <div class="ui-select">
          <%= select_tag "filter[option]", options_for_select(FILTER_OPTION_CUST.sort_by{|e| e[0]},(params[:filter][:option] rescue nil)), :include_blank => true %>
        </div>
      </div>
      <div class="col-lg-3 target-option-choosed">
        <%= text_field_tag "filter[option_choosed]", (params[:filter][:option_choosed] rescue nil), class: "form-control filter-text-field" %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-3 field-box actions">
        <input class="btn btn-primary" value="Filter" type="submit">
      </div>
    </div>
  </div>
<% end -%>
<div class="row statistic-section">
  <div class="col-md-6 chart">    
    <div id="hero-bar" style="height: 0px;"></div>
  </div>  
</div>

<script type="text/javascript">
  $(".calendar-btn-from").click(function(event) {
    $(".datepicker-from").datepicker('show')
  });
  $(".calendar-btn-to").click(function(event) {
    $(".datepicker-to").datepicker('show')
  });
  $(function() {
    <% if (params[:filter].present?) %>
      $(".filter-section").show();
    <% end %>
    initFilter()
    
    // Switch slide buttons
    $('.slider-button-filter').click(function() {
      if ($(this).hasClass("on")) {
          $(this).removeClass('on').html($(this).data("off-text"));   
          $(".filter-section").slideUp();
      } else {
        $(".slider-button-filter").each(function(index, el) {
          $(el).removeClass('on').html($(el).data("off-text"));
        });
        $(this).addClass('on').html($(this).data("on-text"));
        $(".filter-section").slideDown();
      }
    });
    // Switch slide buttons
    $('.slider-button-statistic').click(function() {
      if ($(this).hasClass("on")) {
          $(this).removeClass('on').html($(this).data("off-text"));   
          $(".statistic-section").slideUp();
      } else {
        $(".slider-button-statistic").each(function(index, el) {
          $(el).removeClass('on').html($(el).data("off-text"));
        });
        $(this).addClass('on').html($(this).data("on-text"));
        $(".statistic-section").slideDown();
      }
    });  

    // filter event change
    $("#filter_option").change(function(event) {
      var selected = "";
      if(
          $(this).val() == "religion_id" ||
          $(this).val() == "user_name" ||
          $(this).val() == "sex"
        ){
        $(".target-option-choosed").addClass("ui-select")
        $(".target-option-choosed").addClass("ui-select-filter-choosed")
      selected = $('#filter_option').val()
      $('.target-option-choosed').children('select').remove()
        $.ajax({
          url: '/customers/filter_choosed_customer',
          type: 'GET',
          data: {option: 'select',selected: selected},
        })
        .done(function() {
          console.log("success");
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          console.log("complete");
        });
        
      }else{
        $(".target-option-choosed").removeClass("ui-select")
        $(".target-option-choosed").removeClass("ui-select-filter-choosed")
        selected = $('#filter_option').val()
        $('.target-option-choosed').children('input').remove()
        $.ajax({
          url: '/customers/filter_choosed_customer',
          type: 'GET',
          data: {option: 'text',selected: selected},
        })
        .done(function() {
          console.log("success");
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          console.log("complete");
        });
      }
    });
  });

  function initFilter(){
    var selected = "";
    if(          
      $("#filter_option").val() == "religion_id" || 
      $("#filter_option").val() == "sex"
    ){
      $(".target-option-choosed").addClass("ui-select")
      $(".target-option-choosed").addClass("ui-select-filter-choosed")
      selected = $('#filter_option').val()
      $('.target-option-choosed').children('select').remove()
        $.ajax({
          url: '/customers/filter_choosed_customer',
          type: 'GET',
          data: {option: 'select',selected: selected, option_choosed: "<%=params[:filter][:option_choosed] rescue nil%>"},
        }).done(function(data){
          console.log(data)
        })
        
      }else{
        $(".target-option-choosed").removeClass("ui-select")
        $(".target-option-choosed").removeClass("ui-select-filter-choosed")
        selected = $('#filter_option').val()
        $('.target-option-choosed').children('input').remove()
        $.ajax({
          url: '/customers/filter_choosed_customer',
          type: 'GET',
          data: {option: 'text',selected: selected, option_choosed: "<%=params[:filter][:option_choosed] rescue nil%>"},
        })
      }
  }
</script>
<style type="text/css">
  .ui-select-filter-choosed{
    left: 15px;
  }
</style>