<div class="row" style="overflow:auto;">
  <div>
    <table class="report-table">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Nama Perusahaan</th>
          <th>Alamat</th>
          <th>Jenis Kelamin</th>
          <th>Tgl. Lahir</th>
          <th>No. Telp 1</th>
          <th>No. Telp 2</th>
          <th>No. Telp 3</th>
          <th>Kelurahan</th>
          <th>Kecamatan</th>
          <th>Wilayah</th>
          <th>Kota</th>
          <th>Agama</th>
        </tr>
      </thead>
      <tbody>
        <!-- row -->
        <% if @customers.present? %>
          <% @customers.each_with_index do |customer, idx| %>
            <tr class="first">
              <td><%= idx+1%></td>
              <td><%= customer.try(:name) rescue '-'%></a></td>
              <td><%= customer.try(:company_name) rescue "-" %></td>
              <td><%= customer.try(:address) rescue "-" %></td>
              <td><%= customer.sex? ? 'Pria' : 'Wanita' rescue "-" %></td>
              <td><%= customer.try(:date_of_birth) %></td>
              <td><%= customer.try(:phone_number) rescue nil %></td>
              <td><%= customer.try(:handphone_number) rescue nil %></td>
              <td><%= customer.try(:other_phone_number) rescue nil %></td>
              <td><%= customer.try(:sub_district) rescue "-" %></td>
              <td><%= customer.try(:village) rescue "-" %></td>
              <td><%= customer.try(:district) rescue "-" %></td>
              <td><%= customer.try(:city) rescue "-" %></td>
              <td><%= customer.try(:string_religion) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="14">
              No Data Found
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>  
  </div>
</div>
<div class="digg_pagination pagination pull-right">          
  <%= will_paginate @customers, :container => false, renderer: BootstrapPagination::Rails %>
</div>