<% content_for :title do %>
  Announcement - Configurations
<% end %>

<% content_for :specific_style do %>
  <link rel="stylesheet" data-turbolinks-track href="/assets/compiled/tables.css" type="text/css" media="screen" />
<% end %>


<div class="content">
  <!-- settings changer -->
  <div id="pad-wrapper">
    <!-- products table-->
    <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
    <div class="table-wrapper products-table">
      <div class="row">
        <div class="col-md-12">
          <h4 class="pull-left" >Announcement</h4>
          <div class="pull-right">
           
          </div>
          <br class="clear"></br>
        </div>
      </div>

      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>         
              <th class="col-md-2">
                <span class="line"></span>Announcement
              </th>                          
              <th class="col-md-1">
                <span class="line"></span>Action
              </th>
            </tr>
          </thead>
          <tbody>            
            <!-- row -->
            <tr>                
              <td class="product_type_name">
                 <%#=  text_area(:post, :body, :cols => 20, :rows => 40)%>
                 <%= text_area_tag :announcement, (@announcement.announcement rescue ""),  :cols => 60, :rows => 5%>
              </td>
              <td>
                <ul class="actions" style="float:none">
                  <li><a href="" class="action" onClick="update_value()">Update</a></li>
                </ul>
              </td>                            
            </tr>
            <!-- row -->                    
          </tbody>
          <tfoot>
            <tr>
              <td>
                
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- end products table -->
  </div>
</div>
<script type="text/javascript">  
  function update_value(){
    $.ajax({
      url: '/configurations/announcements/'+<%= @announcement.id rescue 0%>,
      type: 'PUT',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      dataType: 'json',
      data: {value: $('#announcement').val()}
    })
    .done(function(data) {
      if(data == true){
        $('.alert-success').children('span').text("Announcement berhasil di update");
        $('.alert-success').slideDown(500).delay(3000).slideUp(500);
      }
      else{
        $('.alert-success').children('span').text("Announcement gagal di update");
        $('.alert-success').slideDown(500).delay(3000).slideUp(500);
      }
    })
    .fail(function(data) {
      $('.alert-success').children('span').text("Announcement gagal di update");
      $('.alert-success').slideDown(500).delay(3000).slideUp(500);
    })    
  }  

   
</script>