<div class="content">
<%= csrf_meta_tag %>
  <!-- settings changer -->
  <div id="pad-wrapper" class="new-user">
    <div class="row form-wrapper">
      <div class="col-md-9 with-sidebar">
        <div class="container">         
           <%= form_for(@quote, :url => @render_address, :html => { :class=> 'form-horizontal', :id=>"myform",multipart: true  }) do |f| %>
            <div class="col-md-12">
              <%= f.label :Penulis%>
              <%= f.text_field :writer , :class=> 'form-control', :placeholder=> 'Penulis', tabindex: '1',:required => "required"%>
            </div>
            <br />
            <div class="col-md-12 field-box textarea">
              <%= f.label :quote%>
              <%= f.text_area :content , :class=> 'form-control', :placeholder=> 'Quote', tabindex: '1',:required => "required", :class=>"col-md-12", :style=>"width: 749px; height: 81px;"%>
            </div>
            <div class="col-md-11 field-box actions">
              <button class="btn btn-primary"type="submit">Simpan</button>
              <span>OR</span>              
              <%= link_to "Cancel", configurations_users_path%>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>