<% content_for :title do %>
  Quote - Configurations
<% end %>

<% content_for :specific_style do %>
  <link rel="stylesheet" data-turbolinks-track href="/assets/compiled/tables.css" type="text/css" media="screen" />
<% end %>


<div class="content">
  <!-- settings changer -->
  <div id="pad-wrapper">
    <!-- products table-->
    <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
    <div class="table-wrapper products-table">
      <div class="row">
        <div class="col-md-12">
          <h4 class="pull-left" >Quotes</h4>
          <div class="pull-right">
            <a class="btn-flat success new-product" href="/configurations/quotes/new">+ Quotes</a>
          </div>
          <br class="clear"></br>
        </div>
      </div>

      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-md-2">
                Writer
              </th>
              <th class="col-md-8">
                <span class="line"></span>Quotes
              </th>
              <th class="col-md-2">
                <span class="line"></span>Active?
              </th>
            </tr>
          </thead>
          <tbody>            
            <%@quotes.each do |quote|%>
              <!-- row -->
              <tr id="quote_<%= quote.id %>">
                <td>
                  <%=quote.writer rescue  "-"%>
                </td>
                <td class="description">
                   <%=quote.content rescue  "-"%>
                </td>
                <td>
                  <div class="slider-frame primary">
                    <%if quote.is_active? %>
                      <span data-value="<%= quote.id%>" data-on-text="YES" data-off-text="NO" class="slider-button on">YES</span>
                    <%else%>
                      <span data-value="<%= quote.id%>" data-on-text="YES" data-off-text="NO" class="slider-button">NO</span>
                    <%end%>
                  </div>
                  <ul class="actions">
                    <li><a href="/configurations/quotes/<%= quote.id%>/edit">Ubah</a></li>
                    <li class="last"><a href="javascript:void(0)" onclick='deleteRow("<%= quote.id%>","<%=quote.writer%>");'>Hapus</a></li>
                  </ul>
                </td>
              </tr>
              <!-- row -->
            <%end unless @quotes.blank?%>            
          </tbody>
          <tfoot>
            <tr>
              <td>
                 <%if @quotes.total_pages > 1%>       
					       <div class="digg_pagination pagination pull-right">          
					          <%= will_paginate @quotes, :container => false, renderer: BootstrapPagination::Rails %>
					        </div>      
					      <%end%>  
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- end products table -->
  </div>
</div>

  <script type="text/javascript">
    $(function () {

      // Switch slide buttons
      $('.slider-button').click(function() {
          if ($(this).hasClass("on")) {
              $(this).removeClass('on').html($(this).data("off-text"));   
          } else {
            $(".slider-button").each(function(index, el) {
              $(el).removeClass('on').html($(el).data("off-text"));
            });
            $(this).addClass('on').html($(this).data("on-text"));
            updateIsActive($(this).data("value"))
            // alert($(this).data("value"))
          }
      });

    });

    function updateIsActive(id){
      $.ajax({
        url: '/configurations/quotes/update_is_active',
        type: 'POST',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        dataType: 'json',
        data: {id: id}
      })
      .done(function(data) {
        if(data==true){
          console.log('data berhasil diperbaharui')
          $('.alert-success').children('span').text("Data berhasil diperbaharui");
          $('.alert-success').slideDown(500).delay(3000).slideUp(500);          
        }else{
          console.log('data gagal diperbaharui')
          $('.alert-danger').children('span').text("Data gagal diperbaharui");
          $('.alert-danger').slideDown(500).delay(3000).slideUp(500);          
        }
      })
      .fail(function() {
        console.log("Data gagal diperbaharui")
        $('.alert-danger').children('span').text("Data gagal diperbaharui");
        $('.alert-danger').slideDown(500).delay(3000).slideUp(500);   
      })
      .always(function() {
        // console.log("complete");
      });
    } 

    function deleteRow(id,writer){
      $.ajax({
        url: '/configurations/quotes/'+id,
        type: 'DELETE',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        dataType: 'json',
        data: {id: id}
      })
      .done(function(data) {
        console.log(id)
        if (data.filters = true) {
          console.log("Quote "+writer+" berhasil dihapus")
          $('.alert-success').children('span').text("Quote "+writer+" berhasil dihapus");
          $('.alert-success').slideDown(500).delay(3000).slideUp(500);
          $("#quote_"+id).remove();
        }else{
          console.log("Quote "+writer+" gagal dihapus");
          $('.alert-danger').children('span').text("Quote "+writer+" gagal dihapus");
          $('.alert-danger').slideDown(500).delay(3000).slideUp(500);
        }
      })
      .fail(function(data) {
        console.log("Quote "+writer+" gagal dihapus");
        $('.alert-danger').children('span').text("Quote "+writer+" gagal dihapus");
        $('.alert-danger').slideDown(500).delay(3000).slideUp(500);
      })
      .always(function(data) {
        // console.log("complete");
      });
      
    }
    
  </script>