<% content_for :title do %>
  New quote - Configurations
<% end %>
<!-- this page specific styles -->
<% content_for :specific_style do %>
  <link rel="stylesheet" data-turbolinks-track href="/assets/compiled/new-user.css" type="text/css" media="screen" />
<% end %>
<%= render :partial=> 'form'%>