<% content_for :title do %>
  Helps
<% end %>

<% content_for :specific_style do %>
  <link href="/assets/lib/jquery.dataTables.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/compiled/datatables.css" type="text/css" media="screen" />
<% end %>

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div id="accordion" style="padding: 30px;">
        <h3>1. Login & Logout</h3>
        <div class="accordion-correction-margin">
          <p><strong>Cara Login:</strong></p>
          <ol>
            <li>Masukkan username dan password lalu tekan tombol <strong>Login</strong></li>
          </ol>

          <p><strong>Ketentuan Login:</strong></p>

          <ol>
            <li>Untuk syarat login sesuai jam kerja yang ditentukan oleh admin</li>
            <li>Sales tidak dapat login sebelum supervisor login</li>
          </ol>

          <p><strong>Logout:</strong></p>

          <ol>
            <li>Menekan tombol logout di kanan atas.</li>
          </ol>

        </div>

        <h3>2. Isi Laporan</h3>
        <div class="accordion-correction-margin">
        <img alt="FORM" src="/assets/helps/form_konsumen.png" style="width:50%;" /> 

          <p><strong>Ketentuan Pengisian Form:</strong></p>
          <ol>
            <li>Isilah data dengan sebenar-benarnya.</li>
            <li>Isilah tulisan bukan dengan huruf besar semua atau huruf kecil semua, <strong>gunakan huruf besar dan kecil dengan benar</strong>. misalkan nama (<strong>Agus Himawan</strong>) bukan (agus himawan) atau (AGUS HIMAWAN)</li>
            <li><strong>TIDAK PERLU</strong> mengisi data yang belum ada dengan kata &quot;sementara&quot; seperti program sebelumnya!</li>
            <li>Cukup tekan tombol <strong>SIMPAN</strong> sekali saja ketika data Konsumen, Kendaraan dan Laporan sudah terisi. (tidak perlu setiap pindah tab menekan tombol simpan)</li>
            <li>Jika diedit jadi status <strong>DELIVERY</strong>, maka semua field harus diisi</li>
            <li>semua kolom yang bertanda <strong>*</strong> wajib diisi!</li>
          </ol>

          <p><strong>Cara Mengisi Laporan:</strong></p>

          <ol>
            <li>Cari nama konsumen, apakah sudah ada? kalau sudah ada, jangan buat lagi, gunakan saja yang sudah ada karena akan membantu dalam pengisian form. (Mengisi data2 yang pernah diisi)</li>
            <li>Jika tidak ada, dan hendak menghapus semua, tekan <strong>Reset</strong></li>
            <li>Isi kolom <strong>Nama Konsumen</strong> jika baru lanjutkan dengan mengisi kolom yang lain</li>
            <li>setelah selesai mengisi data konsumen, tekan tulisan <img alt="KENDARAAN" src="/assets/helps/tab_kendaraan.png" style="width:100px;" /> pada tab atas <img alt="" src="/assets/helps/tab_atas.png" style="width:200px;" />maka akan muncul form kendaraan</li>
            <li>Isi semuanya field yang ada dan kolom yang bertanda <strong>*</strong> wajib diisi</li>
            <li>setelah selesai mengisi data konsumen, tekan tulisan <img alt="LAPORAN" src="/assets/helps/tab_laporan.png" style="width:100px;" /> maka akan muncul form laporan.</li>
            <li>Isi semuanya field yang ada dan kolom yang bertanda <strong>*</strong> wajib diisi</li>
            <li>Jika semua telah selesai diisi, tekan tombol <img alt="SIMPAN" src="/assets/helps/button_simpan.png" style="width:100px;" />sekali saja.</li>
            <li>Jika telah berhasil, maka halaman akan masuk ke halaman list laporan.</li>
          </ol>

        </div>
        <h3>3. Edit Laporan</h3>
        <div class="accordion-correction-margin">
          <p><strong>Ketentuan Pengeditan Form:</strong></p>

          <ol>
            <li>Isilah data dengan sebenar-benarnya.</li>
            <li>Isilah tulisan bukan dengan huruf besar semua atau huruf kecil semua, <strong>gunakan huruf besar dan kecil dengan benar</strong>. misalkan nama (<strong>Agus Himawan</strong>) bukan (agus himawan) atau (AGUS HIMAWAN)</li>
            <li><strong>TIDAK PERLU</strong> mengisi data yang belum ada dengan kata &quot;sementara&quot; seperti program sebelumnya!</li>
            <li>Cukup tekan tombol <strong>SIMPAN</strong> sekali saja ketika data Konsumen, Kendaraan dan Laporan sudah terisi. (tidak perlu setiap pindah tab menekan tombol simpan)</li>
            <li>Setiap hal yang kamu edit, akan dicatat oleh sistem.</li>
            <li>semua kolom yang bertanda <strong>*</strong> wajib diisi!</li>
            <li>Jika diedit jadi status <strong>DELIVERY</strong>, maka semua field harus diisi</li>
          </ol>

          <p><strong>Cara Edit Laporan:</strong></p>

          <ol>
            <li>Anda tidak dapat melakukan pengeditan data2 yang berwarna orange, sebagai contoh, nama konsumen.<img alt="UNEDITABLE" src="/assets/helps/uneditable.png" style="width:200px;" /></li>
            <li>Isi atau perbaharui kolom kolom yang ada sesuai kebutuhan pada tab Konsumen</li>
            <li>setelah selesai mengisi data konsumen, tekan tulisan <img alt="KENDARAAN" src="/assets/helps/tab_kendaraan.png" style="width:100px;" /> pada tab atas <img alt="" src="/assets/helps/tab_atas.png" style="width:200px;" />maka akan muncul form kendaraan</li>
            <li>Isi atau perbaharui kolom kolom yang ada sesuai kebutuhan pada tab Kendaraan</li>
            <li>setelah selesai mengisi data konsumen, tekan tulisan <img alt="LAPORAN" src="/assets/helps/tab_laporan.png" style="width:100px;" /> maka akan muncul form laporan.</li>
            <li>Isi atau perbaharui kolom kolom yang ada sesuai kebutuhan pada tab Laporan</li>
            <li>Jika semua telah selesai diisi, tekan tombol <strong>PEMBAHARUAN</strong> sekali saja.</li>
            <li>Jika telah berhasil, maka halaman akan masuk ke halaman list laporan.</li>
          </ol>

        </div>
        <h3>4. Fitur Laporan (Filter & Statistic)</h3>
        <div class="accordion-correction-margin">

        </div>
        <h3>5. Insentive</h3>
        <div class="accordion-correction-margin">
          
        </div>
        <h3>6. Konsumen</h3>
        <div class="accordion-correction-margin">
          
        </div>

      </div>
    </div>  
  </div>
</div>   
<% content_for :script do %>
  <script src="/assets/jquery.dataTables.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $( "#accordion" ).accordion({
        collapsible: true,
        heightStyle: "content"
      });
    });
  </script>
<% end %>