<div class="login-wrapper">
  <img class="logo" src="/assets/logo-white.png">
  <div class="box">
    <div class="content-wrap">
      <h6>Log in</h6>
        <%=  form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|%>      
        <%#= form_for(resource, :as => resource_name, :url => user_session_path) do |f| %>          
            <%= f.text_field :username,  :class=>"form-control", :placeholder => "Username" %>
            <%= f.password_field :password  ,:class=>"form-control", :placeholder => "Password" %>  
            <div class="alert-danger alert-login" style="<%= flash[:alert].present? ? '' : 'display:none;' %>">
              <i class="icon-remove-sign"></i>
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <span><%= flash[:alert] if flash[:alert].present? %></span>
              <span><%= flash[:notice] if flash[:notice].present? %></span>
              <span><%= devise_error_messages! %></span>
            </div> 
            <div class="alert-danger alert-login" style="<%= flash[:error].present? ? '' : 'display:none;' %>">
              <i class="icon-remove-sign"></i>
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <span><%= flash[:error] if flash[:error].present? %></span>              
            </div> 
          
            <% if devise_mapping.rememberable? -%>   
            <%#= f.check_box :remember_me %> <%#= f.label :remember_me %>  
            <% end %>  
            <%= f.submit :login, :class=>"btn btn-primary login"%>
          
        <% end %>  
        <%#= render :partial => "devise/shared/links" %>  
    </div>
  </div>
</div>
