<!-- main container .wide-content is used for this layout without sidebar :)  -->
  <div class="content">
    <div class="settings-wrapper" id="pad-wrapper">
        <div class="row">           
          <%= form_for(@payment_type, :url => @render_address, :html => { :class=> 'form-horizontal', :id=>"myform",multipart: true  }) do |f| %>
            <%= csrf_meta_tags %> 
  
            <!-- edit form column -->
            <div class="col-md-7 personal-info">
                <div class="form-group"> 
                  <% if @payment_type.errors.any? %>
                    <% @payment_type.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                  <%end%>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Name:</label>
                  <div class="col-lg-8">                   
                    <%= f.text_field :name , :class=> 'form-control', :placeholder=> 'Name', tabindex: '1',:required => "required"%>
                  </div>
                </div>
                  
                <div class="actions">
                  <%= f.submit :save_changes , :value=> "Save Changes", :class => 'btn btn-primary'%>
                  <span>OR</span>
                  <%= link_to "Cancel", configurations_payment_types_path%>              
                </div>          
            </div>        
        <%end%>
      </div>
    </div>
  </div>
<!-- end main container -->