<!-- main container .wide-content is used for this layout without sidebar :)  -->
  <div class="content">
    <div class="settings-wrapper" id="pad-wrapper">
        <div class="row">           
          <%= form_for(@office_hour, :url => @render_address, :html => {:class=> 'form-horizontal',:id=>"myform"}) do |f| %>
            <%= csrf_meta_tags %>            
            <!-- edit form column -->
            <div class="col-md-7 personal-info">
              <div class="form-group"> 
                <% if @office_hour.errors.any? %>
                  <% @office_hour.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                  <% end %>
                <%end%>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Jam Kerja:</label>                   
                <div class="col-lg-8">                                  
                  <%= f.time_select  :start_hour, :ignore_date => false, tabindex: '1',:required => "required"%>
                  <label>sampai</label> 
                 <%= f.time_select  :end_hour,:ignore_date => false, tabindex: '1',:required => "required"%>
                </div>
              </div>
              
              <div class="form-group">              
                <div class="actions" style="margin-left:130px;">
                  <%= f.submit :save_changes , :value=> "Save Changes", :class => 'btn btn-primary'%>
                  <span>OR</span>
                  <%= link_to "Cancel", configurations_office_hours_path %>              
                </div>          
              </div>        
        <%end%>
      </div>
    </div>
  </div>
<!-- end main container -->