<% content_for :title do %>
  Jam Kerja - Configurations
<% end %>

<% content_for :specific_style do %>
  <link rel="stylesheet" data-turbolinks-track href="/assets/compiled/tables.css" type="text/css" media="screen" />
<% end %>


<div class="content">
  <!-- settings changer -->
  <div id="pad-wrapper">
    <!-- products table-->
    <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
    <div class="table-wrapper products-table">
      <div class="row">
        <div class="col-md-12">
          <h4 class="pull-left" >Jam Kerja</h4>
          <div class="pull-right">
            <a class="btn-flat success new-product" style="display:none" href="<%=new_configurations_office_hour_path%>">+ Jam Kerja</a>
          </div>
          <br class="clear"></br>
        </div>
      </div>

      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>         
              <th class="col-md-4">
                <span class="line"></span>Jam Mulai
              </th>          
              <th class="col-md-4">
                <span class="line"></span>Jam Selesai
              </th>       
              <th class="col-md-4">
                <span class="line"></span>Action
              </th>
            </tr>
          </thead>
          <tbody>            
            <%@office_hours.each do |working_hour|%>
              <!-- row -->
              <tr id="work_hour_<%= working_hour.id %>">                
                <td class="product_type_name">
                   <%= working_hour.start_hour.strftime("%H:%M") rescue "-" %>
                </td>
                <td class="product_type_name">
                   <%= working_hour.end_hour.strftime("%H:%M") rescue "-" %>
                </td>
                <td>
                  <ul class="actions actions_<%=working_hour.id  %> link_act">                    
                    <li><a href="<%=edit_configurations_office_hour_path(working_hour)%>" class="action_<%=working_hour.id %>">Ubah</a></li>
                    <li class="last" style="display:none"><a href="javascript:void(0)" class="action_<%=working_hour.id %>" onclick='deleteRow("<%= working_hour.id%>","");'>Hapus</a></li>                    
                  </ul>
                </td>                            
              </tr>
              <!-- row -->
            <%end unless @office_hours.blank?%>            
          </tbody>
          <tfoot>
            <tr>
              <td>
                 <%if @office_hours.total_pages > 1%>       
					         <div class="digg_pagination pagination pull-right">          
					          <%= will_paginate @office_hours, :container => false, renderer: BootstrapPagination::Rails %>
					        </div>      
					      <%end%>  
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- end products table -->
  </div>
</div>
<script type="text/javascript">  
  function deleteRow(id,p_name){
    $.ajax({
      url: '/configurations/office_hours/'+id,
      type: 'DELETE',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      dataType: 'json',
      data: {id: id}
    })
    .done(function(data) {
      console.log(id)
      if (data.filters = true) {
        console.log("Jam kerja berhasil dihapus")
        $('.alert-success').children('span').text("Jam Kerja berhasil dihapus");
        $('.alert-success').slideDown(500).delay(3000).slideUp(500);
        $("#work_hour_"+id).remove();
      }else{
        console.log("Jam Kerja gagal dihapus");
        $('.alert-danger').children('span').text("Jam kerja gagal dihapus");
        $('.alert-danger').slideDown(500).delay(3000).slideUp(500);
      }
    })
    .fail(function(data) {
      console.log("Jam kerja gagal dihapus");
      $('.alert-danger').children('span').text("Jam kerja gagal dihapus");
      $('.alert-danger').slideDown(500).delay(3000).slideUp(500);
    })
    .always(function(data) {
      // console.log("complete");
    });    
  }  

</script>