<div class="rekap_insentive" style="margin-top: 20px;">
  <div class="left">
    <div class="left" style="width:150px;margin-left:50px;">
      <label for="unit_1">insentive</label>              
    </div>
    <div class="left" style="border-bottom: 1px solid grey">
      <%= hidden_field_tag :max_row%>
      <%= text_field_tag :unit_1, "", :value => "0", :class=> 'form-control rekap'%>
      <label>Unit X Rp. </label>
      <%= text_field_tag :nominal_1, "", :value => "0", :class=> 'form-control rekap'%>
      <label>= Rp. </label>
      <%= text_field_tag :total_1, "", :value => "0", :class=> 'form-control rekap'%>
      <br/>

      <%= text_field_tag :unit_2, "", :value => "0", :class=> 'form-control rekap'%>
      <label>Unit X Rp. </label>
      <%= text_field_tag :nominal_2, "", :value => "0", :class=> 'form-control rekap'%>
      <label>= Rp. </label>
      <%= text_field_tag :total_2, "", :value => "0", :class=> 'form-control rekap'%>
      <br/>

      <%= text_field_tag :unit_3, "", :value => "0", :class=> 'form-control rekap'%>
      <label>Unit X Rp. </label>
      <%= text_field_tag :nominal_3, "", :value => "0", :class=> 'form-control rekap'%>
      <label>= Rp. </label>
      <%= text_field_tag :total_3, "", :value => "0", :class=> 'form-control rekap'%>
      <br/>

      <%= text_field_tag :unit_4, "", :value => "0", :class=> 'form-control rekap'%>
      <label>Unit X Rp. </label>
      <%= text_field_tag :nominal_4, "", :value => "0", :class=> 'form-control rekap'%>
      <label>= Rp. </label>
      <%= text_field_tag :total_4, "", :value => "0", :class=> 'form-control rekap'%>
      <br/>
    </div>
    <br class="clear"/>
    <div class="left" style="width:150px;margin-left:50px;">
      <label for="total">Total</label>
    </div>
    <div class="left">
      <%= text_field_tag :total_unit, "", :value => "0", :class=> 'form-control rekap'%>
      <label>Unit</label>
      <%= text_field_tag :total_semua, "", :value => "0" , :class=> 'form-control rekap', :style=>'margin-left:249px;'%>              
      <br/>
    </div>
    <br class="clear"/>
  </div>

   <div class="right" style="margin-right:50px;">
      <div class="left" style="border-bottom: 1px solid grey">
        <span style='width: 120px; display:inline-block; float:left;'>
          <label for="user_1">Branch Manager</label>
        </span>
        <%= text_field_tag :user_1, "", :value => "0", :class=> 'form-control rekap'%>
        <label>Unit X Rp. </label>
        <%= text_field_tag :user_nominal_1, "", :value => "0", :class=> 'form-control rekap'%>
        <label>= Rp. </label>
        <%= text_field_tag :user_total_1, "", :value => "0", :class=> 'form-control rekap' %>
        <br class="clear"/>
        <span style='width: 120px; display:inline-block; float:left;'>
          <label for="user_2">Supervisor</label>
        </span>
        <%= text_field_tag :user_2, "", :value => "0", :class=> 'form-control rekap' %>
        <label>Unit X Rp. </label>
        <%= text_field_tag :user_nominal_2, "", :value => "0", :class=> 'form-control rekap' %>
        <label>= Rp. </label>
        <%= text_field_tag :user_total_2, "", :value => "0", :class=> 'form-control rekap' %>
        <br class="clear"/>
        <span style='width: 120px; display:inline-block; float:left;'>
          <label for="user_3">Sales</label>
        </span>
        <%= text_field_tag :user_3, "", :value => "0", :class=> 'form-control rekap'  %>
        <label>Unit X Rp. </label>
        <%= text_field_tag :user_nominal_3, "", :value => "0", :class=> 'form-control rekap'  %>
        <label>= Rp. </label>
        <%= text_field_tag :user_total_3, "", :value => "0", :class=> 'form-control rekap' %>
        <br class="clear"/>
      </div>
      <br class="clear"/>
  </div>

<% content_for :script do %>
  <script type="text/javascript">
    $(document).ready(function(){
      // refreshTable();
      $(".rekap").each(function(){
        //$(this).val(stringToNumber($(this).val(),0,',','.'))
        $(this).val("0")
      })

      refreshKeyUpRekap()
      refreshPrintButton()
    });    

    function refreshTable(){
      $.ajax({
        type: 'GET',
        url: 'insentive/content_insentive' +'/'+ $("#choose_sales").val()+'/'+ $("#month").val()+'/'+ $("#year").val(),
        success: function(data){
          $('#content_insentive').html(data);
          var unit = $('#content_insentive tr').length;
          $('#unit_1').val(unit);
          $('#max_row').val(unit);
          // countTotalUnit();
          refreshPrintButton();
          refreshKeyUpRekap();
          // $(".rekap").each(function(){
          //     $(this).val(stringToNumber($(this).val(),0,',','.'))
          // })
        }
      });
    }

    function refreshPrintButton(){
      if ($("#content_insentive > tr").length==0){
        $("#submit_button").hide();
      }else{
        $("#submit_button").show();
      }
    }

    // function countTotalUnit(){
    //   $('#total_unit').val( stringToNumber(
    //   parseFloat( $('#unit_1').val().length>=1 ? numberToString($('#unit_1').val() ) : 0.0 ) + 
    //   parseFloat( $('#unit_2').val().length>=1 ? numberToString($('#unit_2').val() ) : 0.0 ) + 
    //   parseFloat( $('#unit_3').val().length>=1 ? numberToString($('#unit_3').val() ) : 0.0 ) + 
    //   parseFloat( $('#unit_4').val().length>=1 ? numberToString($('#unit_4').val() ) : 0.0 ) ));

    //   $('#total_semua').val( stringToNumber(
    //     parseFloat( $('#total_1').val().length>=1 ? numberToString($('#total_1').val() ) : 0.0 ) + 
    //     parseFloat( $('#total_2').val().length>=1 ? numberToString($('#total_2').val() ) : 0.0 ) + 
    //     parseFloat( $('#total_3').val().length>=1 ? numberToString($('#total_3').val() ) : 0.0 ) + 
    //     parseFloat( $('#total_4').val().length>=1 ? numberToString($('#total_4').val() ) : 0.0 ) 
    //   ));
    // }

    function refreshKeyUpRekap(){
      $('.rekap').keyup(function(e){
        if (e.keyCode!=188 && e.keyCode != 190 && e.keyCode != 110){
          var x = numberToString($(this).val());
          // console.log("x : "+x);
          var y = stringToNumber(x,0);
          // console.log("y : "+y);
          $(this).val(y)
        }else{
          e.preventDefault(0)
        }
        
        // $('#total_1').val( stringToNumber( numberToString($('#unit_1').val()) * numberToString($('#nominal_1').val()) ) );
        // $('#total_2').val( stringToNumber( numberToString($('#unit_2').val()) * numberToString($('#nominal_2').val()) ) );
        // $('#total_3').val( stringToNumber( numberToString($('#unit_3').val()) * numberToString($('#nominal_3').val()) ) );
        // $('#total_4').val( stringToNumber( numberToString($('#unit_4').val()) * numberToString($('#nominal_4').val()) ) );
        //countTotalUnit()
        // $('#user_total_1').val( stringToNumber( numberToString( $('#user_1').val() ) * numberToString( $('#user_nominal_1').val())) );
        // $('#user_total_2').val( stringToNumber( numberToString( $('#user_2').val() ) * numberToString( $('#user_nominal_2').val())) );
        // $('#user_total_3').val( stringToNumber( numberToString( $('#user_3').val() ) * numberToString( $('#user_nominal_3').val())) );
      });
    }

  

  </script>
<% end %>