<%=form_tag("/insentives", class: "filter-form", method: "GET") do -%>
  <div id="main-stats">
    <div class="row jp-row">
      <div class="col-md-3 col-sm-3 jp-filter" style="text-align:left;margin-left:40px;">
        <div class="field-box">
          <label>Bulan:</label>
          <div class="ui-select jp-select">
            <%=select_month(Date.today, use_month_names: %w(Januari Februari Maret April Mei Juni Juli Agustus September Oktober November Desember)) %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 jp-filter" style="text-align:left;margin-left:40px;">
        <div class="field-box">
          <label>Tahun:</label>
          <div class="ui-select jp-select supervisor_select">
            <%=select_year(Date.today, start_year: 2000, end_year: 2030)%>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 jp-filter" style="text-align:left;margin-left:40px;">
        <div class="field-box">
           <label>Sales:</label>
          <div class="ui-select jp-select sales_select">
            <%= select_tag :sales_name, options_for_select(@sales, 1), :prompt => "Pilih Sales"%>
          </div>
        </div>
      </div>      
    </div>
  </div>

  <div class="table-products section" style="margin-bottom:20px;padding-bottom:20px;margin-top:0px;border-bottom:1px solid #dedede;">
    <br/>
    <div class="row">
      <div class="col-lg-2 field-box actions">
        <input class="btn btn-primary" value="Filter" type="button" onClick="get_list()">
        <a href="javascript:void(0)" id="button_export" class="btn-flat success" onclick="export_to_xls()">Export to Xls</a>
      </div>
    </div>
  </div>
<% end %>

<% content_for :script do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#sales_name').val("");
      $('#sales_name').attr('disabled', true);
    })  

    function get_list(){
      if($('#sales_name').val() != "" ){
        $.ajax({
          url: '/insentives/get_list?sales_id='+$('#sales_name').val()+'&month='+$('#date_month').val()+'&year='+$('#date_year').val(),
          type: 'GET',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}
        })
        .done(function(data) {
          
        })
        .fail(function(data) {
          
        })
        .always(function(data) {
          
        });
      }else{
        alert("Pilih Sales terlebih dahulu.") 
      }        
    }

    $('#date_year, #date_month').change(function () {     
      $('#sales_name').attr('disabled', false);
      $.ajax({
        url: "/insentives/get_sales?month="+ $('#date_month').val()+'&year=' + $('#date_year').val(),
        type: "GET"        
      })
    });
    
  </script>
<% end %>

