<%unless insentives.blank?%>
	<table class="table table-hover" id="insentive">
		<thead>
		  <tr>
		    <th class="">
		      No
		    </th>
		    <th class="col-md-2 sortable">
		      <span class="line"></span>Tgl. SPK
		    </th>
		    <th class="col-md-2 sortable">
		      <span class="line"></span>Tgl. Delivery
		    </th>
		    <th class="col-md-2 sortable">
		      <span class="line"></span>Nama Customer
		    </th>
		     <th class="col-md-2 sortable">
		      <span class="line"></span>Alamat Customer
		    </th>	 
		    <th class="col-md-2 sortable">
		      <span class="line"></span>Tipe Produk
		    </th>	  
		    <th class="col-md-2 sortable">
		      <span class="line"></span>Harga Jual
		    </th>	      
		    <th class="col-md-2 sortable">
		      <span class="line"></span>No. Rangka
		    </th>	 
		    <th class="col-md-2 sortable">
		      <span class="line"></span>No. Mesin
		    </th>	 
		    <th class="col-md-2 sortable">
		      <span class="line"></span>Pembayaran via
		    </th>		    
		  </tr>
		</thead>	
	  <tbody>  	
	  	<%if @insentives.present? %>
			  <%@insentives.each_with_index do |insentive,idx|%>
			    <tr>
			    	<td><%= idx+1%></td>
			    	<td><%= insentive.updated_at.strftime("%d/%m/%y") rescue "-"%></td>
			    	<td><%= insentive.updated_at.strftime("%d/%m/%y") rescue "-"%></td>
			    	<td><%= insentive.customer.name rescue "-"%></td>
			    	<td><%= insentive.customer.address rescue "-"%></td>
			    	<td><%= insentive.product.product_category.name rescue "-"%></td>
			    	<td><%= insentive.selling_price rescue "-"%></td>
			    	<td><%= insentive.product.chassis_number rescue "-"%></td>
			    	<td><%= insentive.product.engine_number rescue "-"%></td>
			    	<td><%= insentive.payment_type.name rescue "-"%></td>
			    </tr>
			  <%end%>  
		  <%else%>
		    <tr>
		    	<td colspan="5">No Data</td>
		    </tr>  
		  <%end%> 
	   </tbody>  
	</table>		   
<%end%>
 