$('#insentive_table').html('<%= escape_javascript(render :partial => "table", :locals => { :insentives => @insentives})%>');
<%unless @insentives.present?%>
  $('#submit_button').attr('style','display: block;');
<%end%>
//$("#button_export").attr('href', "<%= export_insentives_path(:conditions => @cond) %>")