<% if @sales_new.present?  %>
  $('#sales_name').html("<%= escape_javascript options_from_collection_for_select(@sales_new, :id, :name) %>");
<% else %>
  $('#sales_name').html("<%= escape_javascript options_for_select([['Pilih Sales',0]]) %>").attr('disabled','disabled');
<% end %>