<% content_for :title do %>
  Insentives
<% end %>

<% content_for :specific_style do %>
  <link href="/assets/lib/jquery.dataTables.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/compiled/datatables.css" type="text/css" media="screen" />
<% end %>

<%if current_user.is_position(ADMINISTRATOR) || current_user.is_position(SUPERVISOR)  %>
  <div class="content">
    <div id="pad-wrapper" style="margin-top:0px;"> 
      <%= render :partial => 'filter' %>  
        <div class="table-products " style="margin-top:30px;">
          <div class="row head" style="margin-bottom:10px;">
            <div class="col-md-12">
              <h4>Laporan </h4>
            </div>
          </div>
          <div id="insentive_table">
            <%= render :partial=> 'table' , :locals => { :insentives => @insentives }%>
          </div>
        </div>   
      <%= render :partial => 'count_insentive' %>   
    </div>
  </div>  
<%else%>
   <div class="content">
      You doesn't have authorization !
   </div>
<%end%>  
<% content_for :script do %>
  <script src="/assets/jquery.dataTables.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#submit_button').attr('style','display: none;');
      $('#example').dataTable({
        "sPaginationType": "full_numbers"
      });
    });
  </script>
<% end %>