/*dashboard.index*/
.news-date{
  font-size: small;
  color: grey;
  font-style: italic;
}

.news-full{
  display: none;
}

.news-full .detail{
  font-size: small;
  color: #AAA;
  font-style: italic;
}
/*end dashboard.index*/


/*sidebar*/
.sidebar-menu-child a{
  font-size: 12px !important;
}
/* end sidebar*/

/* helper */
.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}
/* end helper */

/* reports */

.jp-row{
  /*background-color:  #3D5A7A;*/
  color: #3D5A7A;
}

.jp-select select option{
  background-color: white;
}

.jp-filter{
  padding: 10px 0px;
}

.report-table thead tr th{
  padding:5px;
  text-align: center;
  border: 1px solid #efefef;
}
.report-table{
  width: 100%;
  border: 1px solid #efefef;
}

.report-table a{
  color: #a60000;
}

.report-table tbody tr td p{
  margin:0px;
}

.report-table tbody tr td{
  border: 1px solid #efefef;
  padding: 1px 3px;
  font-size: x-small;
}

.report-table tbody tr.odd td{
  background-color: #FDFDFD; 
}

.report-table tbody tr.even td{
  background-color: #D0D0D0; 
}

/* end reports*/

.calendar-btn{
  cursor: pointer;
}

input.datepicker-readonly[readonly="true"]{
  background-color: #F0F0F0;
  color: black;
}

input.filter-text-field{
  height: 24px;
}

.rekap{
  text-align: right;
  width: 150px;
  display: inline;
  margin:5px 0;
}
.rekap_insentive label{
  padding: 5px; 
}

.red-star{
  color: #A60000;
}

.form-control[readonly]{
  color: #FF6A00;
  font-style: italic;
}

.ui-select select[readonly]{
  color: #FF6A00;
  font-style: italic;
}

.left-text{
  text-align: left;
}

.right-text{
  text-align: right;
}

.center-text{
  text-align: center;
}

table.stat thead tr th{
  padding: 2px 5px;
  border: 1px solid white;
  color:white;
  font-weight: bold;
  background-color: rgba(0, 63, 135, 1);
}

table.stat thead tr td{
  padding: 2px 5px;
  border: 1px solid white;
  color: rgba(0, 63, 135, 1);
  font-weight: bold;
  background-color: rgba(128, 206, 255, 1);
}

table.stat tbody tr.odd td{
  border: 1px solid #FFF;
  padding: 5px;
  background-color: rgba(180, 215, 255, 1);

}
table.stat tbody tr.even td{
  border: 1px solid #FFF;
  padding: 5px;
  background-color: rgba(227, 237, 249, 1);
}

.mini-font{
  font-size: x-small;
}

#accordion .ui-accordion-content{
  margin-top: -6px !important;
}