<div class="table-products section" style="margin-bottom:20px;padding-bottom:20px;margin-top:0px;border-bottom:1px solid #dedede;">
  <div class="row">
    <div class="col-lg-2">
      <label>Dari</label>
      <div class="input-group">
        <input name="filter[from]" type="text" class="form-control datepicker-from" readonly="true" id="start_date">
        <span class="input-group-addon calendar-btn-from calendar-btn"><i class="icon-calendar"></i></span>
      </div>
    </div>
    <div class="col-lg-2">
      <label>Sampai</label>
      <div class="input-group">
        <input name="filter[to]" type="text" class="form-control datepicker-to" readonly="true" id="end_date">
        <span class="input-group-addon calendar-btn-to calendar-btn"><i class="icon-calendar"></i></span>         
      </div>      
    </div>
    <br>
      <a href="javascript:void(0);" onClick="get_list()" class="btn-flat success pull-left" style="margin-top:7px;">
        Go
      </a>

  </div><!-- /.row -->

</div>

<script type="text/javascript">
  $(".calendar-btn-from").click(function(event) {
    $(".datepicker-from").datepicker('show')
  });
  $(".calendar-btn-to").click(function(event) {
    $(".datepicker-to").datepicker('show')
  });

  function get_list(){
    if($("#start_date").val() != "" && $("#end_date").val() != ""){
      $.ajax({
        type: 'GET',
        url: '/attendances/get_list?start_date='+ $("#start_date").val()+'&end_date='+$("#end_date").val()
      }); 
    }else{
      alert("Pilih filter tanggal terlebih dahulu.")
    }
    
  }
</script>