<div class="row">
  <div class="col-md-12">
    <table cellpadding="0" cellspacing="0" border="" class="stat mini-font" id="table_attendances">
      <thead>
        <tr role="row" colspan="<%=(@count_days rescue 0) + 1%>">
          <th style=" text-align:center" rowspan="2" >Nama</th>
          <th style=" text-align:center" colspan='<%= @first_date.nil? ? @count_days : @count_days+1 %> '>Tanggal</td>
          <th style=" text-align:center" rowspan='2'>Total</th>
        </tr>
        <tr>
          <%if @first_date.nil?%>
            <%for i in 1..@count_days %>
              <td style=" text-align:center">&nbsp;<%= i %>&nbsp;</td>
            <%end%>            
          <%else%>          
            <%for i in @first_date..(@count_days + @first_date ) %>
              <%if i <= @end_date %>
                <td style=" text-align:center" >&nbsp;<%= i %>&nbsp;</td>
              <%else%>
                <td style=" text-align:center" >&nbsp;<%= i - @end_date %>&nbsp;</td>
              <%end%>              
            <%end%>
          <%end%>          
        </tr>            
      </thead>
      <tbody>
        <%@attendances.each_with_index do |att, idx|%>
          <% is_present = 0%>
           <tr class="<%= idx%2==0 ? 'odd' : 'even' %>">
            <td width="20%"><%= att.name rescue "-"%></td>
            <%if @first_date.nil?%>
              <%for i in 1..@count_days %>
                <% month_filter = Time.now.strftime("%m").to_i%>
                <% year_filter = Time.now.strftime("%Y").to_i%>
                <% is_present = is_present + 1 if att.is_absent?(i, month_filter, year_filter) == "In" %>
                <td style=" text-align:center"><%= att.is_absent?(i, month_filter, year_filter) %></td>
              <%end%>  
            <%else%>
              <%for i in @first_date..(@count_days + @first_date ) %>
                <% month_filter = Time.now.strftime("%m").to_i%>
                <% year_filter = Time.now.strftime("%Y").to_i%>          
                <% is_present = is_present + 1 if att.is_absent?(i, month_filter, year_filter) == "In" %>
                 <td style=" text-align:center"><%= att.is_absent?(i, month_filter, year_filter) %></td>              
              <%end%> 
            <%end%>
            <td  style=" text-align:center"><%= is_present%></td>
          </tr>
        <%end%>      
      </tbody>
    </table>
  </div>
</div>
  
