<%if @count_days > 0%>
	<%if @count_days < 35%>
	  $('#table_attendances').html('<%= escape_javascript(render :partial => "table",
	                                 :locals => { :m => @attendances, :count_days => @count_days,
	                                 :first_date => @first_date})%>');
	<%else%>
	  alert("pilih jarak filter < 35 hari")
	<%end%>
<%else%>	
  alert("Tanggal Filter 'Sampai' harus lebih besar dari tanggal filter 'Dari'")
<%end%>