<% content_for :title do %>
  Absensi
<% end %>

<% content_for :specific_style do %>
  <link href="/assets/lib/jquery.dataTables.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/compiled/datatables.css" type="text/css" media="screen" />
<% end %>

<div class="content">
  <div id="pad-wrapper" class="datatables-page">  
    <%= render :partial => 'filter' %>       
    <%= render :partial => 'table' %>
  </div>
</div>   
<% content_for :script do %>
  <script src="/assets/jquery.dataTables.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#example').dataTable({
        "sPaginationType": "full_numbers"
      });
    });
  </script>
<% end %>