<%=form_tag("/reports", class: "filter-form", method: "GET") do -%>
  <% if !current_user.is_position(SALES)%>
    <div id="main-stats">
      <div class="row jp-row">
      <% if current_user.is_position(ADMIN) || current_user.is_position(VISITOR) %>
        <div class="col-md-3 col-sm-3 jp-filter" style="text-align:left;margin-left:40px;">
          <div class="field-box">
            <label>Branch Manager:</label>
            <div class="ui-select jp-select">
              <%= select_tag("filter[branch_manager_id]", options_for_select(@branch_managers,(params[:filter][:branch_manager_id] rescue nil)), :include_blank => true) %>
            </div>
          </div>
        </div>
      <% end %>
      <% if current_user.is_position(ADMIN) || current_user.is_position(VISITOR) || current_user.is_position(HEAD_BRANCH) %>
        <div class="col-md-3 col-sm-3 jp-filter" style="text-align:left;margin-left:40px;">
          <div class="field-box">
            <label>Supervisor:</label>
            <div class="ui-select jp-select supervisor_select">
              <%= select_tag("filter[supervisor_id]", nil, :include_blank => true) %>
            </div>
          </div>
        </div>
      <% end %>
      <% if current_user.is_position(ADMIN) || current_user.is_position(VISITOR) || current_user.is_position(HEAD_BRANCH) || current_user.is_position(SUPERVISOR) %>
        <div class="col-md-3 col-sm-3 jp-filter" style="text-align:left;margin-left:40px;">
          <div class="field-box">
            <label>Sales:</label>
            <div class="ui-select jp-select sales_select">
              <%= select_tag("filter[sales_id]", nil, :include_blank => true) %>
            </div>
          </div>
        </div>  
      <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-4">
      <label style="margin-top:10px;">
        Filter 
      </label>
      <div class="slider-frame primary">
        <% if params[:filter].present? %>
          <span data-on-text="ON" data-off-text="OFF" class="slider-button slider-button-filter on">ON</span>
        <% else %>
          <span data-on-text="ON" data-off-text="OFF" class="slider-button slider-button-filter off">OFF</span>
        <% end %>
      </div>     
      <label style="margin-top:10px; margin-left:20px;">
        Statistik 
      </label>
      <div class="slider-frame primary">
        <% if params[:filter].present? %>
          <span data-on-text="ON" data-off-text="OFF" class="slider-button slider-button-statistic on">ON</span>
        <% else %>
          <span data-on-text="ON" data-off-text="OFF" class="slider-button slider-button-statistic off">OFF</span>
        <% end %>
      </div>     
    </div>
  </div>
 
  <div class="filter-section table-products section" style="display:none; margin-bottom:20px;padding-bottom:20px;margin-top:0px;border-bottom:1px solid #dedede; border-top:1px solid #dedede;padding-top:10px;">
    <div class="row">
      <div class="col-lg-3">
        <label>From</label>
        <div class="input-group">
          <input value="<%=Date.parse(params[:filter][:from]).strftime("%d-%m-%Y") rescue nil %>" data-date-format="dd-mm-yyyy" name="filter[from]" type="text" class="form-control datepicker-from datepicker-readonly" readonly="true">
          <span class="input-group-addon calendar-btn-from calendar-btn"><i class="icon-calendar"></i></span>
        </div>
      </div>
      <div class="col-lg-3">
        <label>To</label>
        <div class="input-group">
          <input value="<%=Date.parse(params[:filter][:to]).strftime("%d-%m-%Y") rescue nil %>" data-date-format="dd-mm-yyyy" name="filter[to]" type="text" class="form-control datepicker-to datepicker-readonly" readonly="true">
          <span class="input-group-addon calendar-btn-to calendar-btn"><i class="icon-calendar"></i></span>
        </div>
      </div>
    </div><!-- /.row -->
    <br/>
    <div class="row">
      <div class="col-lg-3">
        <label>Select Option</label>
        <div class="ui-select">
          <%= select_tag "filter[option]", options_for_select(FILTER_OPTION.sort_by{|e| e[0]},(params[:filter][:option] rescue nil)), :include_blank => true %>
        </div>
      </div>
      <div class="col-lg-3 target-option-choosed">
        <%= text_field_tag "filter[option_choosed]", (params[:filter][:option_choosed] rescue nil), class: "form-control filter-text-field" %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-3 field-box actions">
        <input class="btn btn-primary" value="Filter" type="submit">
      </div>
    </div>
  </div>
<% end -%>
<script type="text/javascript">
  $(".calendar-btn-from").click(function(event) {
    $(".datepicker-from").datepicker('show')
  });
  $(".calendar-btn-to").click(function(event) {
    $(".datepicker-to").datepicker('show')
  });
  $(function() {
    $(".statistic-section").hide();
    <% if (params[:filter].present?) %>
      $(".statistic-section").show();
      $(".filter-section").show();
    <% end %>
    initFilter()
    initFilterPosition()
    
    // Switch slide buttons
    $('.slider-button-filter').click(function() {
      if ($(this).hasClass("on")) {
          $(this).removeClass('on').html($(this).data("off-text"));   
          $(".filter-section").slideUp();
      } else {
        $(".slider-button-filter").each(function(index, el) {
          $(el).removeClass('on').html($(el).data("off-text"));
        });
        $(this).addClass('on').html($(this).data("on-text"));
        $(".filter-section").slideDown();
      }
    });
    // Switch slide buttons
    $('.slider-button-statistic').click(function() {
      if ($(this).hasClass("on")) {
          $(this).removeClass('on').html($(this).data("off-text"));   
          $(".statistic-section").slideUp();
      } else {
        $(".slider-button-statistic").each(function(index, el) {
          $(el).removeClass('on').html($(el).data("off-text"));
        });
        $(this).addClass('on').html($(this).data("on-text"));
        $(".statistic-section").slideDown();
      }
    });

    // job position event change

    $("#filter_branch_manager_id").change(function(){
      var bm_id = 0
      bm_id = $(this).val()
      $.ajax({
        url: '/reports/filter_position',
        type: 'GET',
        data: {filter_id: bm_id,type: 'branch_manager'},
      })
    })

    // filter event change
    $("#filter_option").change(function(event) {
      var selected = "";
      if(
          $(this).val() == "report_capacity_id" || 
          $(this).val() == "report_prospect_id" || 
          $(this).val() == "bank_id" || 
          $(this).val() == "business_sector" || 
          $(this).val() == "license_color_id" || 
          $(this).val() == "product_color" || 
          $(this).val() == "product_category_id" || 
          $(this).val() == "product_type_id" || 
          $(this).val() == "religion_id" ||
          $(this).val() == "user_name" ||
          $(this).val() == "sex" ||
          $(this).val() == "payment_type_id"
        ){
        $(".target-option-choosed").addClass("ui-select")
        $(".target-option-choosed").addClass("ui-select-filter-choosed")
      selected = $('#filter_option').val()
      $('.target-option-choosed').children('select').remove()
        $.ajax({
          url: '/reports/filter_choosed',
          type: 'GET',
          data: {option: 'select',selected: selected},
        })
        .done(function() {
          console.log("success");
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          console.log("complete");
        });
        
      }else{
        $(".target-option-choosed").removeClass("ui-select")
        $(".target-option-choosed").removeClass("ui-select-filter-choosed")
        selected = $('#filter_option').val()
        $('.target-option-choosed').children('input').remove()
        $.ajax({
          url: '/reports/filter_choosed',
          type: 'GET',
          data: {option: 'text',selected: selected},
        })
        .done(function() {
          console.log("success");
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          console.log("complete");
        });
      }
    });
  });

  function initFilterPosition(){
    <% if current_user.is_position(ADMIN) || current_user.is_position(VISITOR) %>
      <% if params[:filter].present? %>
        var bm_id = 0
        bm_id = $("#filter_branch_manager_id").val()
        $.ajax({
            url: '/reports/filter_position',
            type: 'GET',
            data: {filter_id: bm_id,type: 'branch_manager', selected:"<%=(params[:filter][:supervisor_id]) rescue nil%>"},
          }).done(function(){
            <% if params[:filter][:supervisor_id].present? %>
              var sv_id = 0
              sv_id = "<%=params[:filter][:supervisor_id]%>"
              $.ajax({
                url: '/reports/filter_position',
                type: 'GET',
                data: {filter_id: sv_id,type: 'supervisor', selected:"<%=(params[:filter][:sales_id]) rescue nil%>"},
              })
            <% end %>
          })
      <% end %>
    <% end %>

    <% if current_user.is_position(SUPERVISOR) %>
      var sv_id = 0
      sv_id = "<%=current_user.id %>"
      $.ajax({
        url: '/reports/filter_position',
        type: 'GET',
        data: {filter_id: sv_id,type: 'supervisor', selected:"<%=(params[:filter][:sales_id]) rescue nil %>"},
      })
    <% end %>

    <% if current_user.is_position(HEAD_BRANCH) %>
      var bm_id = 0
        bm_id = "<%=current_user.id%>"
        $.ajax({
            url: '/reports/filter_position',
            type: 'GET',
            data: {filter_id: bm_id,type: 'branch_manager', selected:"<%=(params[:filter][:supervisor_id]) rescue nil %>"},
          }).done(function(){
            <% if params.present? && params[:filter].present? && params[:filter][:supervisor_id].present? %>
              var sv_id = 0
              sv_id = "<%=params[:filter][:supervisor_id] rescue nil %>"
              $.ajax({
                url: '/reports/filter_position',
                type: 'GET',
                data: {filter_id: sv_id,type: 'supervisor', selected:"<%=(params[:filter][:sales_id]) rescue nil %>"},
              })
            <% end %>
          })
    <% end %>
  }

  function initFilterSV(){
    $("#filter_supervisor_id").change(function(){
      var sv_id = 0
      sv_id = $(this).val()
      $.ajax({
        url: '/reports/filter_position',
        type: 'GET',
        data: {filter_id: sv_id,type: 'supervisor'},
      })
    })
  }

  function initFilter(){
    var selected = "";
    if(
          $("#filter_option").val() == "report_capacity_id" || 
          $("#filter_option").val() == "report_prospect_id" || 
          $("#filter_option").val() == "bank_id" || 
          $("#filter_option").val() == "business_sector" || 
          $("#filter_option").val() == "license_color_id" || 
          $("#filter_option").val() == "product_color" || 
          $("#filter_option").val() == "product_category_id" || 
          $("#filter_option").val() == "product_type_id" || 
          $("#filter_option").val() == "religion_id" ||
          $("#filter_option").val() == "user_name" ||
          $("#filter_option").val() == "sex" ||
          $("#filter_option").val() == "payment_type_id"
        ){
        $(".target-option-choosed").addClass("ui-select")
        $(".target-option-choosed").addClass("ui-select-filter-choosed")
      selected = $('#filter_option').val()
      $('.target-option-choosed').children('select').remove()
        $.ajax({
          url: '/reports/filter_choosed',
          type: 'GET',
          data: {option: 'select',selected: selected, option_choosed: "<%=params[:filter][:option_choosed] rescue nil%>"},
        })
        
      }else{
        $(".target-option-choosed").removeClass("ui-select")
        $(".target-option-choosed").removeClass("ui-select-filter-choosed")
        selected = $('#filter_option').val()
        $('.target-option-choosed').children('input').remove()
        $.ajax({
          url: '/reports/filter_choosed',
          type: 'GET',
          data: {option: 'text',selected: selected, option_choosed: "<%=params[:filter][:option_choosed] rescue nil%>"},
        })
      }
  }

  function export_to_xls(){    
    if($('#total_unit').val() == 0){
      //alert("Perhitungan insentive tidak boleh 0");
    }else if($('#total_unit').val() != 0){  
      window.location.href = '/insentives/export?period_month='+$('#date_month').val()+
        '&period_year='+$('#date_year').val()+
        '&sales_id='+$('#sales_name').val()+

        '&unit1='+$('#unit_1').val()+
        '&nominal1='+$('#nominal_1').val()+
        '&total1='+$('#total_1').val()+

        '&unit2='+$('#unit_2').val()+
        '&nominal2='+$('#nominal_2').val()+
        '&total2='+$('#total_2').val()+

        '&unit3='+$('#unit_3').val()+
        '&nominal3='+$('#nominal_3').val()+
        '&total3='+$('#total_3').val()+
        
        '&unit4='+$('#unit_4').val()+
        '&nominal4='+$('#nominal_4').val()+
        '&total4='+$('#total_4').val()+

        '&user1='+$('#user_1').val()+
        '&user_nominal_1='+$('#user_nominal_1').val()+
        '&user_total_1='+$('#user_total_1').val()+
        
        '&user2='+$('#user_2').val()+
        '&user_nominal_2='+$('#user_nominal_2').val()+
        '&user_total_2='+$('#user_total_2').val()+
        
        '&user3='+$('#user_3').val()+
        '&user_nominal_3='+$('#user_nominal_3').val()+
        '&user_total_3='+$('#user_total_3').val()
      // $.ajax({
      //   type: 'GET',
      //   url: '/insentives/export?period_month='+$('#date_month').val()+
      //   '&period_year='+$('#date_year').val()+
      //   '&sales_id='+$('#sales_name').val()+

      //   '&unit1='+$('#unit_1').val()+
      //   '&nominal1='+$('#nominal_1').val()+
      //   '&total1='+$('#total_1').val()+

      //   '&unit2='+$('#unit_2').val()+
      //   '&nominal2='+$('#nominal_2').val()+
      //   '&total2='+$('#total_2').val()+

      //   '&unit3='+$('#unit_3').val()+
      //   '&nominal3='+$('#nominal_3').val()+
      //   '&total3='+$('#total_3').val()+
        
      //   '&unit4='+$('#unit_4').val()+
      //   '&nominal4='+$('#nominal_4').val()+
      //   '&total4='+$('#total_4').val()+

      //   '&user1='+$('#user_1').val()+
      //   '&user_nominal_1='+$('#user_nominal_1').val()+
      //   '&user_total_1='+$('#user_total_1').val()+
        
      //   '&user2='+$('#user_2').val()+
      //   '&user_nominal_2='+$('#user_nominal_2').val()+
      //   '&user_total_2='+$('#user_total_2').val()+
        
      //   '&user3='+$('#user_3').val()+
      //   '&user_nominal_3='+$('#user_nominal_3').val()+
      //   '&user_total_3='+$('#user_total_3').val(),
      //   success: function(data){
      //     window.location = data.url;
      //   }
      // });
    }  
  }

</script>
<style type="text/css">
  .ui-select-filter-choosed{
    left: 15px;
  }
</style>