 <div class="form-customer row form-wrapper" style="display:none;">
  <!-- left column -->
  <div class="col-md-6 column">
    <%= hidden_field_tag 'customer_id', (@customer.id rescue nil)%>
    <% if @target.blank? %>
      <div class="field-box">
        <label>Cari Konsumen</label>
        <div class="col-md-7 input-group">
          <%= text_field_tag 'find-customer', nil, class: "form-control inline-input", placeholder: "Cari Nama Konsumen" %>
            <button style="display: inline-block; position:absolute;top:0;right:0;" type="button" class="btn btn-primary btn-next right" onclick="resetCustomer();">
              Reset</i>
            </button>
        </div>
      </div>
    <%end%>
    <div class="field-box <%=('error' if @customer.errors.messages[:company_name].present?) rescue nil %>">
      <label>Nama Perusahaan</label>
      <div class="col-md-7">
        <%= text_field_tag 'customer[company_name]', (@customer.company_name rescue nil), class: "form-control inline-input", placeholder: 'Nama Perusahaan' %>
      </div>
    </div>
    <div class="field-box <%=('error' if @customer.errors.messages[:name].present?) rescue nil %>">
      <label>Nama Konsumen <span class="red-star">*</span></label>
      <div class="col-md-7">
        <%= text_field_tag 'customer[name]', (@customer.name rescue nil), class: "form-control inline-input", placeholder: 'Nama Konsumen', readonly: @target.present? %>
      </div>
    </div>                
    <div class="field-box <%=('error' if @customer.errors.messages[:address].present?) rescue nil %>">
      <label>Alamat <span class="red-star">*</span></label>
      <div class="col-md-7">
        <%= text_area_tag 'customer[address]', (@customer.address rescue nil), rows: 4,class: "form-control inline-input" %>
      </div>
    </div>
    <div class="field-box <%=('error' if @customer.errors.messages[:date_of_birth].present?) rescue nil %>">
      <label>Tanggal Lahir</label>
      <div class="col-md-7">
        <%= text_field_tag 'customer[date_of_birth]', (@customer.date_of_birth.strftime("%m/%d/%Y") rescue nil), class: "form-control inline-input datepicker", placeholder: "12/31/1990" %>
      </div>
    </div>
    <div class="field-box <%=('error' if @customer.errors.messages[:sub_district].present?) rescue nil %>">
      <label>Kelurahan</label>
      <div class="col-md-7">
        <%= text_field_tag 'customer[sub_district]', (@customer.sub_district rescue nil), class: "form-control inline-input", placeholder: "Kelurahan" %>
      </div>
    </div>
    <div class="field-box <%=('error' if @customer.errors.messages[:village].present?) rescue nil %>">
      <label>Kecamatan <span class="red-star">*</span></label>
      <div class="col-md-7">
        <%= text_field_tag 'customer[village]', (@customer.village rescue nil), class: "form-control inline-input", placeholder: "Kecamatan" %>
      </div>
    </div>
    <div class="field-box <%=('error' if @customer.errors.messages[:district].present?) rescue nil %>">
      <label>Wilayah</label>
      <div class="col-md-7">
        <%= text_field_tag 'customer[district]', (@customer.district rescue nil), class: "form-control inline-input", placeholder: "Wilayah" %>
      </div>
    </div>
    <div class="field-box <%=('error' if @customer.errors.messages[:city].present?) rescue nil %>">
      <label>Kota <span class="red-star">*</span></label>
      <div class="col-md-7">
        <%= text_field_tag 'customer[city]', (@customer.city rescue nil), class: "form-control inline-input", placeholder: "Kota" %>
      </div>
    </div>        
  </div>
  <!-- right column -->
  <div class="col-md-6 column">
    <div class="field-box <%=('error' if @customer.errors.messages[:sex].present?) rescue nil %>">
      <label>Jenis Kelamin <span class="red-star">*</span></label>
      <% if @target.blank? %>
        <div class="col-md-4">
          <label class="radio">
            <% if (@customer.sex rescue false)%>
              <%= radio_button_tag 'customer[sex]', "1",id: "sex_1", checked: true %>
              <!-- <input type="radio" name="customer[sex]" id="sex_1" value="1" checked="checked"> -->
            <% else %>
              <%= radio_button_tag 'customer[sex]', "1",id: "sex_1" %>
              <!-- <input type="radio" name="customer[sex]" id="sex_1" value="1"> -->
            <% end %>
            Pria
          </label>
        </div>
        <div class="col-md-4">
          <label class="radio">
            <% if (!@customer.sex rescue false)%>
              <%= radio_button_tag 'customer[sex]', "0",id: "sex_2", checked: true %>
              <!-- <input type="radio" name="customer[sex]" id="sex_2" value="0" checked="checked"> -->
            <% else %>
              <%= radio_button_tag 'customer[sex]', "0",id: "sex_2" %>
              <!-- <input type="radio" name="customer[sex]" id="sex_2" value="0"> -->
            <% end %>
            Wanita
          </label>
        </div>
      <% else %>
        <% if (@customer.sex rescue false)%>
          <div class="col-md-4">
            <label class="radio">
              <%= hidden_field_tag 'customer[sex]', "1", id: "sex_1"%>
              <!-- <input type="radio" name="customer[sex]" id="sex_1" value="1" checked> -->
              Pria
            </label>
          </div>
        <% else %>
          <div class="col-md-4">
            <label class="radio">
              <%= hidden_field_tag 'customer[sex]', "0", id: "sex_2"%>
              <!-- <input type="radio" name="customer[sex]" id="sex_2" value="0" checked> -->
              Wanita
            </label>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="field-box <%=('error' if @customer.errors.messages[:phone_number].present?) rescue nil %>">
      <label>Telepon 1 <span class="red-star">*</span></label>
      <div class="col-md-7">
        <%= telephone_field_tag 'customer[phone_number]', (@customer.phone_number rescue nil), class: "form-control inline-input", placeholder: "Nomor Telepon Rumah", readonly: @target.present? %>
      </div>
    </div>
    <div class="field-box <%=('error' if @customer.errors.messages[:handphone_number].present?) rescue nil %>">
      <label>Telepon 2</label>
      <div class="col-md-7">
        <%= telephone_field_tag 'customer[handphone_number]', (@customer.handphone_number rescue nil), class: "form-control inline-input", placeholder: "Nomor Handphone GSM" %>
      </div>
    </div>
    <div class="field-box <%=('error' if @customer.errors.messages[:other_phone_number].present?) rescue nil %>">
      <label>Telepon 3</label>
      <div class="col-md-7">
        <%= telephone_field_tag 'customer[other_phone_number]', (@customer.other_phone_number rescue nil), class: "form-control inline-input", placeholder: "Nomor Handphone CDMA" %>
      </div>
    </div>
    <div class="field-box <%=('error' if @customer.errors.messages[:religion_id].present?) rescue nil %>">
      <label>Agama <span class="red-star">*</span></label>
      <div class="ui-select">
        <%= select_tag("customer[religion_id]", options_for_select(RELIGIONS,(@customer.religion_id rescue nil)), :include_blank => true) %>
      </div>
    </div>
  </div>
</div>
