<div class="form-vehicle row form-wrapper" style="display:none;">
  <!-- left column -->
  <%= hidden_field_tag 'vehicle_id', (@vehicle.id rescue nil)%>
  <div class="col-md-6 column">
    <div class="field-box <%=('error' if @vehicle.errors.messages[:license_name].present?) rescue nil %>">
      <label>Nama STNK <span class="red-star">*</span></label>
      <div class="col-md-7">
        <%= text_field_tag 'vehicle[license_name]', ((@vehicle.license_name) rescue nil), class: "form-control inline-input", placeholder: "Amir Rudin" %>
      </div>
    </div>                            
    <div class="field-box <%=('error' if @vehicle.errors.messages[:license_number].present?) rescue nil %>">
      <label>No STNK</label>
      <div class="col-md-7">
        <%= text_field_tag 'vehicle[license_number]', ((@vehicle.license_number) rescue nil), class: "form-control inline-input", placeholder: "D 60 D" %>
      </div>
    </div>    
    <div class="field-box <%=('error' if @vehicle.errors.messages[:manufactured_year].present?) rescue nil %>">
      <label>Tahun Produksi <span class="red-star">*</span></label>
      <div class="col-md-7">
        <%= text_field_tag 'vehicle[manufactured_year]', ((@vehicle.manufactured_year) rescue nil), class: "form-control inline-input", placeholder: "2013", maxlength: "4" %>
      </div>
    </div>
    <div class="field-box <%=('error' if @vehicle.errors.messages[:chassis_number].present?) rescue nil %>">
      <label>No Rangka</label>
      <div class="col-md-7">
        <%= text_field_tag 'vehicle[chassis_number]', ((@vehicle.chassis_number) rescue nil), class: "form-control inline-input", placeholder: "No Rangka" %>
      </div>
    </div>
    <div class="field-box <%=('error' if @vehicle.errors.messages[:engine_number].present?) rescue nil %>">
      <label>No Mesin</label>
      <div class="col-md-7">
        <%= text_field_tag 'vehicle[engine_number]', ((@vehicle.engine_number) rescue nil), class: "form-control inline-input", placeholder: "No Mesin" %>
      </div>
    </div>
    <div class="field-box <%=('error' if @vehicle.errors.messages[:engine_capacity].present?) rescue nil %>">
      <label>Kapasitas Mesin</label>
      <div class="col-md-7 input-group">
        <%= text_field_tag 'vehicle[engine_capacity]', ((@vehicle.engine_capacity) rescue nil), class: "form-control", placeholder: "1500", maxlength: "4" %>
        <span class="input-group-addon">CC</span>
      </div>
    </div>         
  </div>
  <!-- right column -->
  <div class="col-md-6 column">
    <div class="field-box <%=('error' if @vehicle.errors.messages[:license_color_id].present?) rescue nil %>">
      <label>Warna Plat Nomer <span class="red-star">*</span></label>
      <div class="ui-select">
        <%= select_tag("vehicle[license_color_id]", options_for_select(LICENSE_COLOR,((@vehicle.license_color_id) rescue nil)), :include_blank => true) %>
      </div>
    </div>
    <div class="field-box <%=('error' if @vehicle.errors.messages[:product_category_id].present?) rescue nil %>">
      <label>Jenis Kendaraan <span class="red-star">*</span></label>
      <div class="ui-select">
       <%= select_tag("vehicle[product_category_id]", options_from_collection_for_select(@product_category, :id, :name,((@vehicle.product_category_id) rescue nil)), :include_blank => true) if @product_category.present? %>
      </div>
    </div>
    <div class="field-box <%=('error' if @vehicle.errors.messages[:product_type_id].present?) rescue nil %>">
      <label>Tipe Kendaraan <span class="red-star">*</span></label>
      <% if @target.present? %>
        <div class="col-md-7">
          <%= text_field_tag "p_name",(@vehicle.product_type.name rescue nil), class: "form-control inline-input",readonly: @target.present? %>
          <%= hidden_field_tag "vehicle[product_type_id]",(@vehicle.product_type_id rescue nil), class: "form-control inline-input" %>
        </div>
      <% else %>
        <div class="ui-select">
          <%= select_tag("vehicle[product_type_id]", options_from_collection_for_select(@product_type, :id, :name,((@vehicle.product_type_id) rescue nil)), :include_blank => true, readonly: @target.present?) if @product_type.present? %>
        </div>
      <% end %>
    </div>
    <div class="field-box <%=('error' if @vehicle.errors.messages[:color].present?) rescue nil %>">
      <label>Warna <span class="red-star">*</span></label>
      <div class="col-md-7">
        <%= text_field_tag "vehicle[color]",(@vehicle.color rescue nil), :placeholder => "Merah", class: "form-control inline-input" %>
      </div>
    </div>
  </div>
</div>