<div class="content">
<%= csrf_meta_tag %>
  <!-- settings changer -->
  <div id="pad-wrapper" class="form-page">
    <% if (@target != "show") %>
      <%= form_tag("#{@target=='' ? reports_path : report_path(@target) }", method: "#{@target=='' ? 'POST' : 'PUT' }") do -%>
        <div class="row form-header" style="border-bottom:1px solid #DEDEDE;margin-bottom:30px;">
          <div class="col-md-12 column">
            <h3 class="tab-report left">
              <a href="#customer" form="customer" class="tab-link selected tab-customer"> KONSUMEN </a>
              <a href="#vehicle" form="vehicle" class="tab-link tab-vehicle"> KENDARAAN </a>
              <a href="#report" form="report" class="tab-link tab-report"> LAPORAN </a>
            </h3>
            <button style="display: inline-block;" type="submit" class="btn btn-success btn-next right" data-last="Finish">
              <%= @target == params[:id] ? 'Perbaharui' : 'Simpan' %> <i class="icon-chevron-right"></i>
            </button>
            <div class="clear"></div>
          </div>
        </div>
        <div class="form-master">
          <%= render :partial=> 'form_customer'%>
          <%= render :partial=> 'form_vehicle'%>
          <%= render :partial=> 'form_report'%>
        </div>
      <% end -%>
    <% else %>      
      <%= form_tag('#') do -%>
        <div class="row form-header" style="border-bottom:1px solid #DEDEDE;margin-bottom:30px;">
          <div class="col-md-12 column">
            <h3 class="tab-report left">
              <a href="#customer" form="customer" class="tab-link selected tab-customer"> KONSUMEN </a>
              <a href="#vehicle" form="vehicle" class="tab-link tab-vehicle"> KENDARAAN </a>
              <a href="#report" form="report" class="tab-link tab-report"> LAPORAN </a>
            </h3>
            <div class="clear"></div>
          </div>
        </div>
        <div class="form-master">
          <%= render :partial=> 'form_customer'%>
          <%= render :partial=> 'form_vehicle'%>
          <%= render :partial=> 'form_report'%>
        </div>
      <% end -%>
    <% end %>      
  </div>
</div>
<% content_for :style do %>
  <style type="text/css">

    .ui-autocomplete-loading {
      background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
    }

    .ui-menu{
      width: 300px;
    }

    #find-customer { width: 25em; }

    .form-page .form-wrapper .field-box{
      margin-bottom: 10px;
    }
    .radio{
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .radio input{
      margin-right: 5px;
    }

    .tab-report{
      height: 45px;
    }

    .tab-report a{
      text-decoration: none;
      color: #CCC;
      transition: 0.5s;
    }

    .tab-report a.selected{
      text-decoration: none;
      font-size: xx-large;
      color: #057BDA;
      transition: 0.5s;
    }
  </style>
<% end %>
<% content_for :script do %>
  <script type="text/javascript">
    $(function() {

      <% if @target=="show" %>
        $("form input").each(function(){
          $(this).attr("readonly",true)
          $(this).attr("placeholder",null)
          $(this).attr("disabled","disabled")
        })
        $("form textarea").each(function(){
          $(this).attr("readonly",true)
          $(this).attr("placeholder",null)
          $(this).attr("disabled","disabled")
        })
        $("form select").each(function(){
          $(this).attr("disabled","disabled")
        })
      <% end %>
      recalculateTab()

      <% if (@report.errors.present? rescue false)%>
        $(".tab-report").trigger("click")
      <% end %>

      <% if (@vehicle.errors.present? rescue false)%>
        $(".tab-vehicle").trigger("click")
      <% end %>

      <% if (@customer.errors.present? rescue false)%>
        $(".tab-customer").trigger("click")
      <% end %>
    
    });

    function recalculateTab(){
      $(".tab-customer").trigger("click")
      $(".tab-link").click(function(){
        $(".tab-link").each(function(index, el) {
          $(el).removeClass("selected");
          $(".form-"+$(el).attr('form')).slideUp(500);
        });
        $(this).addClass("selected");
        $(".form-"+$(this).attr('form')).slideDown(500);
      })
      if (window.location.hash !=""){
        $(".tab-link").each(function(index, el) {
          $(el).removeClass("selected");
          if (window.location.hash == $(el).attr('href')){
            $(el).trigger('click');
            $(".form-"+$(el).attr('form')).show();
          }
        });
      }else{
        $(".tab-customer").trigger("click")
      }
    }

    $(function() {
      function log( message ) {
        $( "<div>" ).text( message ).prependTo( "#log" );
        $( "#log" ).scrollTop( 0 );
      }
      $( "#find-customer" ).autocomplete({
        source: function( request, response ) {
          $.ajax({
            url: "<%=get_customer_reports_path%>",
            data: {
            max_row: 15,
            keyword: request.term
          },
            success: function( data ) {
              response( $.map( data.customers, function( item ) {
                return {
                  customer: item,
                  label: item.name,
                  value: item.name
                }
              }));
            }
          });
        },
        select: function( event, ui ) {
          customer = ui.item.customer
          log( ui.item ?
          "Selected: " + ui.item.customer.name :
          "Nothing selected, input was " + this.customer.name);

          $("#customer_id").val(customer.id);
          $("#customer_company_name").val(customer.company_name);
          $("#customer_name").val(customer.name);
          $("#customer_address").val(customer.address);
          $("#customer_date_of_birth").val(customer.date_of_birth);
          $("#customer_sub_district").val(customer.sub_district);
          $("#customer_village").val(customer.village);
          $("#customer_district").val(customer.district);
          $("#customer_city").val(customer.city);
          console.log(customer.sex)
          if(customer.sex){
            $("#customer_sex_1").prop("checked", true)
            $("#customer_sex_2").prop("checked", false)
          }else{
            $("#customer_sex_1").prop("checked", false)
            $("#customer_sex_2").prop("checked", true)
          }
          $("#customer_phone_number").val(customer.phone_number);
          $("#customer_handphone_number").val(customer.handphone_number);
          $("#customer_other_phone_number").val(customer.other_phone_number);
          $("#customer_religion_id").val(customer.religion_id);
        },
        open: function() {
          $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
          $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        }
      });
    });
  
    function resetCustomer(){
      $("#find-customer").val('');
      $("#customer_id").val('');
      $("#customer_company_name").val('');
      $("#customer_name").val('');
      $("#customer_address").val('');
      $("#customer_sub_district").val('');
      $("#customer_village").val('');
      $("#customer_district").val('');
      $("#customer_city").val('');
      $("#customer_phone_number").val('');
      $("#customer_handphone_number").val('');
      $("#customer_other_phone_number").val('');
      $("#customer_religion_id").val('');
      $("#sex_1").prop("checked", false)
      $("#sex_2").prop("checked", false)
    }
  </script>
<%end%>