<div class="form-report row form-wrapper" style="display:none;">
  <!-- left column -->
  <div class="col-md-6 column">
    <div class="field-box <%=('error' if @report.errors.messages[:business_sector].present?) rescue nil %>">
      <label>Jenis Usaha <span class="red-star">*</span></label>
      <div class="col-md-7">
        <%= text_field_tag "report[business_sector]", (@report.business_sector rescue nil), class: "form-control inline-input", placeholder: "Niaga" %>
      </div>
    </div>
    <div class="field-box <%=('error' if @report.errors.messages[:bank_id].present?) rescue nil %>">
      <label>Bank</label>
      <div class="ui-select">
        <%= select_tag("report[bank_id]", options_from_collection_for_select(@banks, :id, :full_name,(@report.bank_id rescue nil)), :include_blank => true) if @banks.present? %>
      </div>
    </div>
    <div class="field-box <%=('error' if @report.errors.messages[:payment_type_id].present?) rescue nil %>">
      <label>Cara Pembayaran <span class="red-star">*</span></label>
      <div class="ui-select">
        <%= select_tag("report[payment_type_id]", options_from_collection_for_select(@payment_type, :id, :name,(@report.payment_type_id rescue nil)), :include_blank => true) if @payment_type.present? %>
      </div>
    </div>
    <div class="field-box <%=('error' if @report.errors.messages[:report_prospect_id].present?) rescue nil %>">
      <label>Status Prospek <span class="red-star">*</span></label>
      <div class="ui-select">
        <%= select_tag("report[report_prospect_id]", options_from_collection_for_select(@report_prospect, :id, :name,(@report.report_prospect_id rescue nil)), :include_blank => true) if @report_prospect.present? %>
      </div>
    </div>                            
    <div class="field-box <%=('error' if @report.errors.messages[:report_capacity_id].present?) rescue nil %>">
      <label>Status Kapasitas <span class="red-star">*</span></label>
      <div class="ui-select">
        <%= select_tag("report[report_capacity_id]", options_from_collection_for_select(@report_capacity, :id, :name,(@report.report_capacity_id rescue nil)), :include_blank => true) if @report_capacity.present? %>
      </div>
    </div>    
  </div>
  <!-- right column -->
  <div class="col-md-6 column">
    <div class="field-box <%=('error' if @report.errors.messages[:selling_price].present?) rescue nil %>">
      <label>Harga Jual <span class="red-star">*</span></label>
      <div class="col-md-7 input-group">
        <span class="input-group-addon">Rp.</span>
        <%= text_field_tag 'report[selling_price]', ( @report.selling_price rescue nil), class: "form-control", placeholder: "150.000.000"%>
        <span class="input-group-addon">,00</span>
      </div>
    </div>

    <div class="field-box <%=('error' if @report.errors.messages[:advance].present?) rescue nil %>">
      <label>Tanda Jadi</label>
      <div class="col-md-7 input-group">
        <span class="input-group-addon">Rp.</span>
        <%= text_field_tag 'report[advance]', ( @report.advance rescue nil), class: "form-control", placeholder: "Uang Tanda Jadi" %>
        <span class="input-group-addon">,00</span>
      </div>
    </div>
    
    <div class="field-box <%=('error' if @report.errors.messages[:notes].present?) rescue nil %>">
      <label>Keterangan <span class="red-star">*</span></label>
      <div class="col-md-7">
        <%= text_area_tag 'report[notes]', ( @report.notes rescue nil), rows: 4,class: "form-control inline-input" %>
      </div>
    </div>
  </div>
</div>