  <div class="row statistic-section">
    <div class="col-md-7 chart" style="overflow-x: auto;overflow-y:hidden;">
      <h5>Bar Chart - Status Prospek (<%=@all_reports.count%> calls)</h5>
      <div id="hero-bar" style="height: 250px;"></div>
    </div>
    <!-- <div class="col-md-2 chart">
      <h5>Pie Chart - Status Prospek (<%=@all_reports.count%> calls)</h5>
      <div id="hero-donut" style="height: 250px;"></div>    
    </div> -->
    <div class="col-md-3" >
      <table class="stat">
      <thead>
        <tr class="header">
          <th>Status Prospek</th>
          <th>Cust.</th>
        </tr>
      </thead>
      <tbody>
        <% count = 0%>
        <% ReportProspect.all.each_with_index do |prospect,index| %>
          <tr class="<%= index%2==0 ? 'odd' : 'even' %>">
            <td><%=prospect.name%></td>
            <td class="right-text"><%=@all_reports.statistic(index+1)%></td>
            <% count = count + @all_reports.statistic(index+1)%>
          </tr>
        <% end %>
          <tr class="odd">
            <td style="font-weight: bold; border-top:3px solid black;">TOTAL</td>
            <td style="font-weight: bold; border-top:3px solid black;"><%=count%> Cust</td>
          </tr>
          <tr class="even">
            <td style="font-weight: bold;">TOTAL</td>
            <td style="font-weight: bold;"><%=@call%> Call</td>
          </tr>
          <tr class="even">
            <td style="font-weight: bold;">HARI KERJA</td>
            <td style="font-weight: bold;"><%=@workday%> Hari</td>
          </tr>
      </tbody>
      </table>
    </div>
    <div class="col-md-2 chart">
      <% if params[:filter].present? %>
        <% id = nil %>
        <% if params[:filter][:sales_id].present? %>
          <% id = params[:filter][:sales_id]%>
        <% elsif params[:filter][:supervisor_id].present? %>
          <% id = params[:filter][:supervisor_id]%>
        <% elsif params[:filter][:branch_manager_id].present? %>
          <% id = params[:filter][:branch_manager_id]%>
        <% end %>
        <% user = User.find(id) rescue nil%>
        <%if user.present? %>
          <table>
            <tr>
              <td class="center-text">
                  <%= image_tag user.profile_picture.url(:medium), :class=>"profile-picture", :style=>"max-width:200px;max-height:200px; "%>
               
              </td>
            </tr>
            <tr>
              <td class="center-text">
                <h2><%=user.name%></h2>
              </td>
            </tr>
          </table>
        <%end%>
      <% end %>
    </div>
  </div>

<% content_for :script do %>

  <!-- morrisjs -->
  <script src="/assets/raphael-min.js"></script>
  <script src="/assets/morris.min.js"></script>
  <script type="text/javascript">
  // Morris Bar Chart
    Morris.Bar({
      element: 'hero-bar',
      data: [
        <% ReportProspect.all.each_with_index do |prospect,index| %>
          {device: '<%=prospect.name%>', calls: "<%=@all_reports.statistic(index+1)%>"},
        <% end %>
      ],
      xkey: 'device',
      ykeys: ['calls'],
      labels: ['Calls'],
      barRatio: 1,
      xLabelMargin: 10,
      hideHover: 'auto',
      barColors: ["#3d88ba"]
    });

    // Morris Donut Chart
    Morris.Donut({
      element: 'hero-donut',
      data: [
        <% ReportProspect.all.each_with_index do |prospect,index| %>
          {label: '<%=prospect.name%>', value: <%=@all_reports.statistic(index+1) %>},
        <% end %>
      ],
      colors: ["#30a1ec", "#76bdee", "#c4dafe"],
      formatter: function (y) { return y + " calls" }
    });
    $(function () {

    });
  </script>
<% end %>