<div class="row" style="overflow:scroll;">
  <div style="width:4000px;">
    <table class="report-table">
      <thead>
        <tr>
          <th>No.</th>
          <% if current_user.is_position(ADMINISTRATOR) %>
            <th>Color</th>
          <% end%>
          <th>Penulis</th>
          <th>Dibuat</th>
          <th>Diperbaharui</th>

          <th>Nama Perusahaan</th>
          <th>Nama Konsumen</th>
          <th>Alamat</th>
          <th>L/P</th>
          <th>Tanggal Lahir</th>
          <th>No. Telp 1</th>
          <th>No. Telp 2</th>
          <th>No. Telp 3</th>
          <th>Kelurahan</th>
          <th>Kecamatan</th>
          <th>Wilayah</th>
          <th>Kota</th>
          <th>Agama</th>

          <th>No STNK</th>
          <th>Nama STNK</th>
          <th>Warna Plat</th>
          <th>Warna</th>
          <th>Jenis</th>
          <th>Tipe</th>
          <th>Tahun</th>
          <th>Kapasitas</th>
          <th>No Mesin</th>
          <th>No Rangka</th>

          <th>Stat. Kap.</th>
          <th>Stat. Pros.</th>
          <th>Uang Tanda Jadi</th>
          <th>Harga Jual</th>
          <th>Bank</th>
          <th>Cara Pembayaran</th>
          <th>Sektor Bisnis</th>
          <th style="max-width:100px;">Keterangan</th>
        </tr>
      </thead>
      <tbody>
        <!-- row -->
        <% if @reports.present? %>
          <% @reports.each_with_index do |report,index| %>
            <%if report.color.present? %>
            <tr class="colorize-row" style="background-color:<%=report.color%>;">
            <% else %>
            <tr class="<%= index%2==0 ? 'odd' : 'even' %>">
            <%end%>
              <td class="right-text">
              <%if params[:page].to_i<=0%>
                <%params[:page]=1%>
              <% end %>
              <%=index+1+((params[:page].to_i-1)*@perpage)%>
              </td>
              <% if current_user.is_position(ADMINISTRATOR) %>
                <td>
                  <div class="ui-select" style="width: 30px;min-width:30px;">
                    <select class="cb-color" id-select="<%=report.id%>">
                      <option name="none" value="" style="background-color:white;">NONE</option>
                      <option name="red" value="<%=ROW_RED%>" style="background-color:<%=ROW_RED%>;">
                      </option>
                      <option name="green" value="<%=ROW_GREEN%>" style="background-color:<%=ROW_GREEN%>;"></option>
                      <option name="blue" value="<%=ROW_BLUE%>" style="background-color:<%=ROW_BLUE%>;"></option>
                      <option name="yellow" value="<%=ROW_YELLOW%>" style="background-color:<%=ROW_YELLOW%>;"></option>
                    </select>
                  </div>
                </td>
              <% end %>
              <td><a href="<%=writer_report_path(report.user.id)%>"><%=report.user.name%></a></td>
              <% if current_user.is_position(SALES) %>
                <td><%=link_to(report.created_at.strftime("%d/%m/%y - %H:%M:%S"),edit_report_path(report.id))%></td>
              <% else %>
                <td><%=link_to(report.created_at.strftime("%d/%m/%y - %H:%M:%S"),report_path(report.id))%></td>
              <% end %>
              <td><%=link_to((report.created_at != report.updated_at ? report.updated_at.strftime("%d/%m/%y - %H:%M:%S") : "-"),history_path(report.id)) rescue nil%></td>
              <td><%= report.try(:customer).try(:company_name) rescue "-" %></td>
              <td><%= report.try(:customer).try(:name) rescue "-" %></td>
              <td><%= report.try(:customer).try(:address) rescue "-" %></td>
              <td><%= (report.try(:customer).try(:sex) ? 'Pria' : 'Wanita') rescue "-" %></td>
              <td><%= report.try(:customer).try(:date_of_birth) %></td>
              <td><%= report.try(:customer).try(:phone_number) rescue nil %></td>
              <td><%= report.try(:customer).try(:handphone_number) rescue nil %></td>
              <td><%= report.try(:customer).try(:other_phone_number) rescue nil %></td>
              <td><%= report.try(:customer).try(:sub_district) rescue "-" %></td>
              <td><%= report.try(:customer).try(:village) rescue "-" %></td>
              <td><%= report.try(:customer).try(:district) rescue "-" %></td>
              <td><%= report.try(:customer).try(:city) rescue "-" %></td>
              <td><%= report.try(:customer).try(:string_religion) %></td>

              <td><%= report.try(:product).try(:license_number) rescue "-" %></td>
              <td><%= report.try(:product).try(:license_name) rescue "-" %></td>
              <td><%= report.try(:product).try(:string_license_color) rescue "-" %></td>
              <td><%= report.try(:product).try(:color) rescue "-" %></td>
              <td><%= report.try(:product).try(:product_category).name rescue "-" %></td>
              <td><%= report.try(:product).try(:product_type).name rescue "-" %></td>
              <td><%= report.try(:product).try(:manufactured_year) rescue "-" %></td>
              <td><%= report.try(:product).try(:engine_capacity) rescue "-" %></td>
              <td><%= report.try(:product).try(:engine_number) rescue "-" %></td>
              <td><%= report.try(:product).try(:chassis_number) rescue "-" %></td>

              <td><%=report.try(:report_capacity).try(:name) rescue "-" %></td>
              <td><%=report.try(:report_prospect).try(:name) rescue "-" %></td>
              <td><%=report.try(:advance) rescue "-" %></td>
              <td><%=report.try(:selling_price) rescue "-" %></td>
              <td><%=report.try(:bank).try(:full_name) rescue "-" %></td>
              <td><%=report.try(:payment_type).try(:name) rescue "-" %></td>
              <td><%=report.try(:business_sector) rescue "-" %></td>
              <td><a href="javascript:void(0)" title="<%=report.notes%>" ><%=truncate(report.notes, length: 160, omission: '...')%></a></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="32">
              No Data Found
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>  
  </div>
</div>
<div class="digg_pagination pagination pull-right">          
  <%= will_paginate @reports, :container => false, renderer: BootstrapPagination::Rails %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    <% if current_user.is_position(ADMINISTRATOR) %>
      $(".cb-color").change(function(){
        var color = $(this).val();
        var thisis = $(this);
        var id = $(this).attr("id-select");
        // console.log($(this).attr("id-select"));
        $.ajax({
          url: '/reports/set_color',
          type: 'POST',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          dataType: 'JSON',
          data: {color: color, id: id},
        })
        .done(function(result) {
          if(color==""){
            thisis.parent().parent().parent().removeClass('odd');
            thisis.parent().parent().parent().removeClass('even');
            if(parseInt((thisis.parent().parent().parent().children('td').text()))%2==0){
              thisis.parent().parent().parent().addClass('even');
            }else{
              thisis.parent().parent().parent().addClass('odd');
            }
          }else{
            thisis.parent().parent().parent().css("background-color",color);
            thisis.parent().parent().parent().removeClass('odd');
            thisis.parent().parent().parent().removeClass('even');
          }
          
          // console.log("done");
        })
        .fail(function() {
          // console.log("error");
        })
        .always(function() {
          // console.log("complete");
        });
        
      });
    <% end %>
  });
</script>
