<% if (@option=="select")%>
  <%= select_tag "filter[option_choosed]", options_for_select(@option_select,@option_choosed), :include_blank => true, class: "filter-text-field" , style: "width:200%;" %>
<% else %>
  <%= text_field_tag "filter[option_choosed]", @option_choosed, class: "form-control filter-text-field" %>
<% end %>