<% if (@type=="branch_manager")%>
	<%= select_tag("filter[supervisor_id]", options_for_select(@option_select,@option_choosed), :include_blank => true) %>
<% elsif (@type=="supervisor") %>
	<%= select_tag("filter[sales_id]", options_for_select(@option_select,@option_choosed), :include_blank => true) %>
<% end %>