$('.target-option-choosed').html('<%=
    escape_javascript(render :partial => "target_option",
      :locals => { :option => @option, :option_select => @option_select },:option_choosed => @option_choosed)%>');