<% if @type=="branch_manager" %>
  $('.supervisor_select').html('<%=
      escape_javascript(render :partial => "target_option_position",
        :locals => { :type => @type, :option_select => @option_select },:option_choosed => @option_choosed)%>');
  $('.sales_select').html('<%=
      escape_javascript(render :partial => "target_option_position",
        :locals => { :type => "supervisor", :option_select => [] },:option_choosed => nil)%>');
  initFilterSV()
<% elsif @type=="supervisor" %>
  $('.sales_select').html('<%=
      escape_javascript(render :partial => "target_option_position",
        :locals => { :type => @type, :option_select => @option_select },:option_choosed => @option_choosed)%>');
<% end %>