<% content_for :title do %>
  Laporan 
<% end %>

<% content_for :specific_style do %>
  <link rel="stylesheet" data-turbolinks-track href="/assets/compiled/index.css" type="text/css" media="screen" />
  <link href="/assets/lib/morris.css" data-turbolinks-track type="text/css" rel="stylesheet" />
<% end %>

<!-- main container -->
<div class="content">

  <div id="pad-wrapper" style="margin-top:0px;"> 

    <%= render :partial => 'filter' %>

    <% if @all_reports.present? %>
      <!-- morris bar & donut charts -->
      <%= render :partial => 'statistic' %>

      <div class="table-products " style="margin-top:30px;">
        <div class="row head" style="margin-bottom:10px;">
          <div class="col-md-12">
            <h4>Laporan </h4>
          </div>
        </div>

        <%= render :partial=> 'table'%>
      </div>
    <% else %>
      <h5>No Data (<%=@workday%> hari kerja)</h5>
    <% end %>
  </div>
</div>