<% content_for :title do %>
  Laporan Baru
<% end %>

<% content_for :specific_style do %>
  <link rel="stylesheet" data-turbolinks-track href="/assets/compiled/form-showcase.css" type="text/css" media="screen" />
  <link rel="stylesheet" data-turbolinks-track href="/assets/compiled/form-wizard.css" type="text/css" media="screen" />
<% end %>

<% content_for :style do %>
  <style type="text/css">
    .alert-msg{
      margin-left: 160px !important;
    }
  </style>
<% end %>
<%= render :partial=> 'form'%>