<% content_for :title do %>
  Detail Sales
<% end %>
<!-- main container .wide-content is used for this layout without sidebar :)  -->
  <div class="content">
    <div class="settings-wrapper" id="pad-wrapper">
      <div class="row">    
        <h5 class="personal-title">Personal info</h5>        
        <%= form_for(@user, :url => configurations_user_path, :method=> :put, :html => { :class=> 'form-horizontal', :id=>"myform",multipart: true  }) do |f| %>
        <%= csrf_meta_tags %>  
        <!-- avatar column -->
        <div class="col-md-3 col-md-offset-1 avatar-box" style="width:354px;">
          <div class="personal-image">
            <%= image_tag @user.profile_picture.url(:medium), :class=>"profile-picture"%>
      
          </div>
        </div>

          <div class="col-md-7 personal-info">
            <div class="form-group"></div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Username:</label>
              <div class="col-lg-8">                   
                <%= f.text_field :username , :class=> 'form-control', :placeholder=> 'Username', tabindex: '1',:required => "required"%>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Email:</label>
              <div class="col-lg-8">
                 <%= f.text_field :email , :class=> 'form-control', :placeholder=> 'Email', tabindex: '1',:required => "required"%>               
              </div>
            </div>           
                   
            <div class="form-group">
              <label class="col-lg-2 control-label">Gender:</label>
              <div class="col-lg-8">
                 <%= f.text_field :sex, :value=> (@user.sex == true ? "Pria" : "Wanita"), :class=> 'form-control'%>                
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-lg-2 control-label">Position:</label>
              <div class="col-lg-8">
                 <%= f.text_field :position,:value=> @user.get_position ,:class=> 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Address:</label>
              <div class="col-lg-8">
                 <%= f.text_field :address , :class=> 'form-control', :placeholder=> 'Address', tabindex: '1',:required => "required"%>          
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">City:</label>
              <div class="col-lg-8">
                <%= f.text_field :city , :class=> 'form-control', :placeholder=> 'City', tabindex: '1',:required => "required"%>                
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Phone Number:</label>
              <div class="col-lg-8">
                 <%= f.text_field :phone_number , :class=> 'form-control', :placeholder=> 'Phone Number', tabindex: '1',:required => "required"%>                 
              </div>
            </div>
            <div class="actions">              
              <%= link_to "Back", reports_path, :class => 'btn btn-primary'%>              
            </div>
          
        </div>
      </div>  

      <%end%>
    </div>
  </div>
  <!-- end main container -->
  <script type="text/javascript">
    $(document).ready(function() {
      $('.form-control').attr("readonly", "readonly")
    });
  </script>