<div class="alert alert-success" style="<%= flash[:success].present? ? '' : 'display:none;' %>">
  <i class="icon-ok-sign"></i>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <span><%= flash[:success] %></span>
</div>
<div class="alert alert-info" style="<%= flash[:info].present? ? '' : 'display:none;' %>">
  <i class="icon-exclamation-sign"></i>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <span><%= flash[:info] %></span>
</div>
<div class="alert alert-warning" style="<%= flash[:warning].present? ? '' : 'display:none;' %>">
  <i class="icon-warning-sign"></i>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <span><%= flash[:warning] %></span>
</div>
<div class="alert alert-danger" style="<%= flash[:error].present? ? '' : 'display:none;' %>">
  <i class="icon-remove-sign"></i>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <span><%= flash[:error] %></span>
</div>
<div class="alert alert-info" style="<%= flash[:notice].present? ? '' : 'display:none;' %>">
  <i class="icon-remove-sign"></i>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <span><%= flash[:notice] %></span>
</div>