<!DOCTYPE html>
<html class="<%= signed_in? ? '' : 'login-bg' %> ">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mtnsps - <%= yield :title %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>


  <!-- this page specific styles -->
  <% unless signed_in? %>  
    <link rel="stylesheet" data-turbolinks-track href="/assets/compiled/signin.css" type="text/css" media="screen" />
  <%end%>
  <%= yield :specific_style %>
  <link rel="stylesheet" data-turbolinks-track href="/assets/compiled/form-showcase.css" type="text/css" media="screen" />
  <!-- open sans font -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> -->

  <!-- lato font -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'> -->
  
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style type="text/css">
    .alert{
      position: fixed;
      top: 48px;
      left: 0;
      z-index: 10000;
      width: 100%;
    } 

    .alert-login{
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px 4px 4px 4px;
    }
  </style>
  <%= yield :style %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if signed_in? %>  
    <%= render :partial=> 'layouts/admin/navbar'%>
    <%= render :partial=> 'layouts/admin/sidebar'%>
    <%= render :partial=> 'layouts/notification'%>
  <%end%>  
  <%= yield %>

  <!-- scripts -->
  <%= yield :script %>
  <script type="text/javascript">
      arr_loc1 = document.URL.split('/');
      arr_loc2 = arr_loc1[3].split('#');
      arr_loc3 = arr_loc2[0].split('?');
      current_locations = arr_loc3[0];
      children_location = "";
      if (arr_loc1.length>=5) {
        arr_loc4 = arr_loc1[4].split('#');
        children_location = arr_loc4
      }
      // clean
      $(".sidebar-menu").each(function(index, el) {
        $(el).removeClass('active');
        $(el).children('.pointer').remove();
      });
      $(".sidebar-menu-child").each(function(index, el) {
        $(el).children('a').removeClass('active');
      });
      switch (current_locations){
        case "":
          current_locations = "dashboard"
          break;
        case "reports":
          current_locations = "reports";
          if (children_location==""){
            children_location = "list-reports";
          }else if (children_location=="new"){
            children_location = "new-reports";
          }
          break;
      } 
      $('#sidebar-menu-'+current_locations).addClass('active');
      if (children_location!="") $('#'+children_location).children('a').addClass('active');
      $('#sidebar-menu-'+current_locations).children('.submenu').show();
      $('#sidebar-menu-'+current_locations).append($('#hidden-pointer').html())
    </script>

  <!-- pre load bg imgs -->
  <script type="text/javascript">
    $(function () {
      // bg switcher
      var $btns = $(".bg-switch .bg");
      $btns.click(function (e) {
        e.preventDefault();
        $btns.removeClass("active");
        $(this).addClass("active");
        var bg = $(this).data("img");
        $("html").css("background-image", "url('/assets/bgs/" + bg + "')");
      });

    });
  </script>
</body>
</html>
