<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mtnsps - <%= yield :title %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>


    <!-- this page specific styles -->
    <%= yield :specific_style %>
    <link rel="stylesheet" data-turbolinks-track href="/assets/compiled/form-showcase.css" type="text/css" media="screen" />
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= yield :style %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial=> 'layouts/configuration/navbar'%>
    <%= render :partial=> 'layouts/configuration/sidebar'%>
    <%= render :partial=> 'layouts/notification'%>
    <!-- <div id="message">
      <%= flash[:notice]%>
      <%= flash[:error]%>
    </div> -->

    <%= yield %>
    <%= yield :script %>

    <script type="text/javascript">
      arr_loc1 = document.URL.split('/');
      arr_loc2 = arr_loc1[3].split('#');
      arr_loc3 = arr_loc2[0].split('?');
      current_locations = "";
      children_location = "";
      if (arr_loc1.length>=5) {
        arr_loc4 = arr_loc1[4].split('#');
        current_locations = arr_loc4[0];
      }
      // clean
      $(".sidebar-menu").each(function(index, el) {
        $(el).removeClass('active');
        $(el).children('.pointer').remove();
      });
      $(".sidebar-menu-child").each(function(index, el) {
        $(el).children('a').removeClass('active');
      });

      switch (current_locations){
        case "":
          current_locations = "dashboard"
          break;
        case "product_types":
          children_location = current_locations
          current_locations = "product"
          break;
        case "product_categories":
          children_location = current_locations
          current_locations = "product"
          break;
        case "product_colors":
          children_location = current_locations
          current_locations = "product"
          break;
        case "business_types":
          children_location = current_locations
          current_locations = "reports"
          break;
        case "report_prospects":
          children_location = current_locations
          current_locations = "reports"
          break;
        case "report_capacities":
          children_location = current_locations
          current_locations = "reports"
          break;
        case "payment_types":
          children_location = current_locations
          current_locations = "reports"
          break;
        case "office_hours":
          children_location = current_locations
          current_locations = "reports"
          break;
      } 
      $('#sidebar-menu-'+current_locations).addClass('active');
      if (children_location!="") $('#'+children_location).children('a').addClass('active');
      $('#sidebar-menu-'+current_locations).children('.submenu').show();
      $('#sidebar-menu-'+current_locations).append($('#hidden-pointer').html())
    </script>
  </body>
</html>